Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru==0.5.3
  - python .gitlab/tools/parse-hocon.py

battle box testing
  island/battle_box/train/equipment.conf
  island/battle_box/train/kits.conf
Due: pyhocon

Update cosmetic_master_base.csv
  island/items/cosmetic_master_base.csv
Due: none

battle box fixing error
  island/battle_box/train/kits.conf
Due: pyhocon

battle box testing other map
  samples/battle_box.conf
Due: pyhocon

battle box testing
  samples/battle_box.conf
Due: pyhocon

battle box testing
  island/battle_box/items/ball_items.conf
  island/battle_box/items/short_timed_ball_items.conf
  samples/battle_box.conf
Due: pyhocon

battle box testing
  island/battle_box/canal/kits.conf
Due: pyhocon

feature: Faction and faction cosmetic reworks
  island/factions.conf
Due: pyhocon

train only
  samples/battle_box.conf
Due: pyhocon

Custom items for battlebox + kits
  island/battle_box/canal/breakable_blocks.conf
  island/battle_box/canal/equipment.conf
  island/battle_box/canal/kits.conf
  island/battle_box/canal/placeable_blocks.conf
  island/battle_box/graffiti/equipment.conf
  island/battle_box/graffiti/kits.conf
  island/battle_box/hit_enchants.conf
  island/battle_box/items/ball_items.conf
  island/battle_box/items/short_timed_ball_items.conf
  island/battle_box/items/spark_items.conf
  island/battle_box/items/timed_ball_items.conf
  island/battle_box/train/equipment.conf
  island/battle_box/train/kits.conf
  samples/battle_box.conf
Due: pyhocon

Make SBA chests have a string id
  compass/worlds/island/games/sky_battle.conf
Due: pyhocon

Call it a link
  compass/worlds/island/games/sky_battle.conf
Due: pyhocon

sky battle testing
  island/sky_battle/variable_loot.conf
Due: pyhocon

sky battle - setting up defaults
  island/sky_battle/border_config.json
  island/sky_battle/border_parameters.json
  island/sky_battle/phases.conf
Due: prettier, pyhocon

sky battle - setting up defaults
  island/sky_battle/wires/border_parameters.json
Due: prettier

ranges
  island/battle_box/items/ball_items.conf
  island/battle_box/items/short_timed_ball_items.conf
  island/battle_box/items/timed_ball_items.conf
Due: pyhocon

decrease
  island/game_items/ball_items.conf
  island/game_items/short_timed_ball_items.conf
  island/game_items/spark_items.conf
  island/game_items/timed_ball_items.conf
Due: pyhocon

fix
  island/game_items/ball_items.conf
  island/game_items/short_timed_ball_items.conf
  island/game_items/timed_ball_items.conf
Due: pyhocon

Added Wicked Horns (Curved) Variant and fixed some NPC cosmetics
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
  island/lobby/npc_abigail.mcc.kts
  island/lobby/npc_teal.mcc.kts
Due: ktlint

Fixed cosmetic string
  island/lobby/npc_loth.mcc.kts
Due: ktlint

add sky-battle lobby
  compass/worlds/island/general/game_lobbies.conf
Due: pyhocon

Add tier to meltdown rooms
  compass/worlds/event/meltdown.conf
Due: pyhocon

Added draft config
  island/sky_battle/scores/eliminations.conf
Due: pyhocon

Addition of new vignette NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_dino_ben.mcc.kts
  island/lobby/npc_dino_mitchel.mcc.kts
  island/lobby/npc_dino_taylor.mcc.kts
  island/lobby/npc_dino_tiana.mcc.kts
  island/lobby/npc_mage_aurum.mcc.kts
  island/lobby/npc_mage_lavandula.mcc.kts
  island/lobby/npc_mage_thynnus.mcc.kts
  island/lobby/npc_surfer_heirani.mcc.kts
  island/lobby/npc_surfer_lann.mcc.kts
  island/lobby/npc_surfer_terii.mcc.kts
Due: ktlint, pyhocon

Addition of new vignette NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_castaway_ellen.mcc.kts
  island/lobby/npc_castaway_matthew.mcc.kts
  island/lobby/npc_castaway_tom.mcc.kts
Due: ktlint, pyhocon

Feature/aledet
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
  island/lobby/npc_surfer_terii.mcc.kts
Due: ktlint

Made faction accessory always use improved version
  island/items/cosmetic_master_base.csv
Due: none

feature: Misc HITW changes
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/bad/interactive/hot_potato.conf
  island/hole_in_the_wall/traps/bad/interactive/punch.conf
  island/hole_in_the_wall/traps/bad/interactive/sumo.conf
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/tgttos/modifiers/hot_potato.conf
Due: pyhocon

Changes to Sky Battle loot chests
  island/battle_box/canal/equipment.conf
  island/battle_box/canal/kits.conf
  island/battle_box/graffiti/equipment.conf
  island/battle_box/graffiti/kits.conf
  island/battle_box/train/equipment.conf
  island/battle_box/train/kits.conf
  island/game_items/ball_items.conf
  island/game_items/short_timed_ball_items.conf
  island/game_items/spark_items.conf
  island/game_items/timed_ball_items.conf
  island/sky_battle/equipment.conf
  island/sky_battle/variable_loot.conf
Due: pyhocon

Update ball_items.conf
  island/game_items/ball_items.conf
Due: pyhocon

NPC namplate test
  island/lobby/holograms.conf
  island/npc_types.conf
Due: pyhocon

battle box testing
  island/game_items/ball_items.conf
  island/game_items/short_timed_ball_items.conf
  island/game_items/timed_ball_items.conf
Due: pyhocon

battle box testing
  island/battle_box/graffiti/kits.conf
  samples/battle_box.conf
Due: pyhocon

battle box testing
  island/battle_box/graffiti/equipment.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
