Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - prepare
    - deploy
    - delete

prettier:
    stage: prepare
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: prepare
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: prepare
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.58
        - pip install loguru==0.5.3
        - python .gitlab/tools/parse-hocon.py

compile_scripts:
    stage: prepare
    image: harbor.services.noxcrew.online/tools/script-cli:main-3225e347ef8d1404db764e8ea4d9831f7237cc11
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync
    retry: 2
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"
        policy: pull

.kube_env_dev:
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_stg:
    environment:
        name: stg-fs2consulkv
        on_stop: delete_consul_stg
        kubernetes:
            namespace: ops

.kube_env_prd:
    environment:
        name: production-fs2consulkv
        on_stop: delete_consul_prd
        kubernetes:
            namespace: ops

.delete_consul:
    dependencies: []
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    stage: delete
    when: manual
    retry: 2
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" -recurse configuration/"$CI_COMMIT_BRANCH"
    except:
      - main
      - master
      - develop

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]

#upload_consul_stg:
#    stage: deploy
#    extends: [.kube_env_stg, .upload_consul]

upload_consul_prd:
    stage: deploy
    extends: [.kube_env_prd, .upload_consul]

delete_consul_dev:
    stage: delete
    extends: [.kube_env_dev, .delete_consul]

delete_consul_prd:
    stage: delete
    extends: [.kube_env_prd, .delete_consul]

Up explosion radius again
  event/rocket_spleef/rocket_launcher.conf
Due: pyhocon

Add setting to RSR generator
  event/rocket_spleef/generator.conf
Due: pyhocon

Re-enable rocket cannon team coloring
  event/rocket_spleef/equipment.conf
Due: pyhocon

Add new strict disallow duplicates value
  event/rocket_spleef/generator.conf
Due: pyhocon

change
  island/tgttos/rounds.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Changed faction rewards at lv 10 to beanies
  island/factions.conf
Due: pyhocon

setting change
  island/tgttos/rounds.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

test
  island/tgttos/factory/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

change
  samples/to_get_to_the_other_side.conf
Due: pyhocon

test
  island/tgttos/rounds.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

changes
  island/tgttos/shallow_lava/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

change back
  island/tgttos/factory/modifiers.conf
  island/tgttos/shallow_lava/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

new accessories
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
  island/lobby/npc_officermiles.mcc.kts
Due: ktlint, pyhocon

activated cosmetic
  island/items/Cosmetic Master - Master.csv
Due: none

change for tests
  island/tgttos/rounds.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

changes
  island/tgttos/rounds.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Rocket spleef
  event/rocket_spleef/generator.conf
Due: pyhocon

Add config for firework boosts in RSR
  event/rocket_spleef/firework_boost.conf
Due: pyhocon

Give two firework rockets
  event/rocket_spleef/equipment.conf
Due: pyhocon

feature: New cosmetic master layout
  island/items/Cosmetic Master - Master.csv
  island/items/Cosmetic Master - _Gadget.csv
  island/items/Cosmetic_Master_Back.csv
  island/items/Cosmetic_Master_Pet.csv
  island/items/Furniture_Master - Master.csv
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: none

Restored items lost in sheet update
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: none

Rocket spleef
  event/rocket_spleef/equipment.conf
  event/rocket_spleef/firework_boost.conf
  event/rocket_spleef/rocket_launcher.conf
  event/rocket_spleef/test/generator.conf
Due: pyhocon

Set appropriate cosmetics to colorable
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: none

Add updraft item to RSR
  event/rocket_spleef/equipment.conf
Due: pyhocon

Feature/aledet
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: none

Feature/aledet
  island/items/cosmetic_master_variant.csv
Due: none

Feature/aledet
  island/items/cosmetic_master_base.csv
Due: none

configurable radius for tnt time
  island/tgttos/modifiers/tnt_time.conf
Due: pyhocon

change settings
  island/tgttos/modifiers/tnt_time.conf
Due: pyhocon

Lower drop distance significantly
  event/rocket_spleef/generator.conf
Due: pyhocon

Lower drop distance more
  event/rocket_spleef/generator.conf
Due: pyhocon

Make Sky City use strict element picking
  event/rocket_spleef/skycity/generator.conf
Due: pyhocon

Add an initial compass card for the event hub
  compass/cards/event/hub.json
  compass/worlds/event/hub.conf
Due: prettier, pyhocon

Add score towers to hub compass
  compass/worlds/event/hub.conf
Due: pyhocon

Fix maps.conf for lobby
  event/lobby/maps.conf
Due: pyhocon

Fix world name to use
  event/lobby/maps.conf
Due: pyhocon

Battle box
  samples/battle_box.conf
Due: pyhocon

Add resource groups
  .gitlab-ci.yml
Due: prettier

Add a new line to make Prettier happy
  compass/cards/event/hub.json
Due: prettier
