Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
    script:
      - ./.gitlab/tools/compile-scripts.sh
    only:
      changes:
        - "**/*.mcc.kts"
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/online-devops/fs2consulkv:main-22e40148e044eb3b3c96cab51c06d1d7c940d392
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Update player hiding distance
  island/hole_in_the_wall/hide_nearby_players.conf
Due: pyhocon

Upload New File
  island/items/Cosmetic_Master_-__Gadget.csv
Due: none

Delete Cosmetic Master - Gadget.csv
  island/items/Cosmetic Master - Gadget.csv
Due: none

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Add new file
  island/hole_in_the_wall/trap_controller.conf
Due: pyhocon

Update trap_controller.conf
  island/hole_in_the_wall/trap_controller.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Updated translation strings
  island/items/Furniture_Master - Master.csv
Due: none

Added roaming NPCs
  island/lobby/npc_cory_walker.mcc.kts
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
  island/lobby/npc_stacy_bandana.mcc.kts
Due: ktfmt, compile_scripts

Roaming NPC fix
  island/lobby/enabled_scripts.conf
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_stacy_bandana.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

NPC fix
  island/lobby/npc_cory_walker.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
Due: ktfmt, compile_scripts

NPC fix
  island/lobby/enabled_scripts.conf
Due: pyhocon

script fix
  island/lobby/enabled_scripts.conf
Due: pyhocon

Add manequins
  island/lobby/enabled_scripts.conf
  island/lobby/npc_mannequin1.mcc.kts
  island/lobby/npc_mannequin2.mcc.kts
  island/lobby/npc_mannequin3.mcc.kts
  island/lobby/npc_mannequin4.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Try fix manequins
  island/lobby/npc_mannequin1.mcc.kts
  island/lobby/npc_mannequin2.mcc.kts
  island/lobby/npc_mannequin3.mcc.kts
  island/lobby/npc_mannequin4.mcc.kts
Due: ktfmt, compile_scripts

NPC roaming update
  island/lobby/npc_cory_walker.mcc.kts
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
  island/lobby/npc_rolph_greenie.mcc.kts
  island/lobby/npc_samwell_finster.mcc.kts
  island/lobby/npc_sergey_torba.mcc.kts
  island/lobby/npc_stacy_bandana.mcc.kts
Due: ktfmt, compile_scripts

NPC pathing fix
  island/lobby/npc_cory_walker.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
  island/lobby/npc_stacy_bandana.mcc.kts
Due: ktfmt, compile_scripts

NPC roaming update
  island/lobby/npc_cory_walker.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
  island/lobby/npc_stacy_bandana.mcc.kts
Due: ktfmt, compile_scripts

Add more documentation
  island/lobby/npc_skin_test.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon, compile_scripts
