Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

compile_scripts:
  stage: compile
  image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
  script:
  - ./.gitlab/tools/compile-scripts.sh
  cache:
  - key: $CI_COMMIT_BRANCH
    paths:
    - compiled/

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Ambient NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_charley.mcc.kts
  island/lobby/npc_mary.mcc.kts
  island/lobby/npc_nicole.mcc.kts
  island/lobby/npc_quinn.mcc.kts
  island/lobby/npc_sandy.mcc.kts
  island/lobby/npc_ursola.mcc.kts
  island/lobby/npc_victor.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Fixed ShadyDan
  island/lobby/npc_shadydan.mcc.kts
Due: ktfmt, compile_scripts

Fix Ace Race out of bounds
  compass/worlds/island/games/ace_race.conf
Due: pyhocon

Make oob a domain
  compass/worlds/island/games/ace_race.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/musicStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
  compile_scripts: any of: **/*.mcc.kts
