Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

compile_scripts:
  stage: compile
  image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
  script:
  - ./.gitlab/tools/compile-scripts.sh
  cache:
  - key: $CI_COMMIT_BRANCH
    paths:
    - compiled/

Override distanceFromCenter
  island/hole_in_the_wall/walls/wall_type_fakeout_fast_slow.conf
  island/hole_in_the_wall/walls/wall_type_fakeout_slow_fast.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Fix the HITW tutorial
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt, compile_scripts

Make sugar cane breakable
  event/grid_runners/room/kitchen/breakable_blocks.conf
Due: pyhocon

Furniture Store Creation
  island/apartments/furniture.conf
  island/items/Furniture_Master - Master.csv
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Attempted Fix
  island/npc_types.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily.conf
  island/shop/autogen/furnitureStore_daily12.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/furnitureStore_weekly.conf
  island/shop/autogen/musicStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/musicStore_weekly.conf
Due: pyhocon

Harbor
  .gitlab-ci.yml
Due: prettier

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Swap GR rooms around
  compass/cards/event/grid_runners.json
Due: prettier

Shorten shrink sound
  island/hole_in_the_wall/platform_controller.conf
Due: pyhocon

Update wall_controller.conf
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/musicStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

GR - Give the golf club a name
  event/grid_runners/room/golf/equipment.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
  compile_scripts: any of: **/*.mcc.kts
