Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: harbor.services.noxcrew.online/tools/mcc-script-cli:main-20429a46e13b53096fe53158792d6b6b7d7ff5b1
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-9d0bbda8300b942a14d42a5166ef9d7973a5cc9d
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_prod:
    extends: .upload_consul
    environment:
        name: production-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Grid Runners - Creating MCC rising set
  compass/cards/event/grid_runners.json
Due: prettier

Use the rising preset
  compass/cards/event/grid_runners.json
Due: prettier

Add new GR map to maploader
  event/grid_runners/maps.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily12.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Put prison room first for testing
  compass/cards/event/grid_runners.json
Due: prettier

Revert "Put prison room first for testing"
  compass/cards/event/grid_runners.json
Due: prettier

Added Beds to Furniture Economy
  island/apartments/furniture.conf
  island/items/Furniture_Master - Master.csv
Due: pyhocon

Fix Ace Race Jump Pads
  compass/worlds/island/games/ace_race.conf
Due: pyhocon

Added NPCs to HUB
  island/lobby/enabled_scripts.conf
  island/lobby/npc_barista_bella.mcc.kts
  island/lobby/npc_benny_business.mcc.kts
  island/lobby/npc_blue_baroness.mcc.kts
  island/lobby/npc_bubblegum_fury.mcc.kts
  island/lobby/npc_gary.mcc.kts
  island/lobby/npc_megan_melody.mcc.kts
  island/lobby/npc_robby.mcc.kts
  island/lobby/npc_salt.mcc.kts
  island/lobby/npc_shadydan.mcc.kts
  island/lobby/npc_toby_toothpick.mcc.kts
  island/lobby/npc_watt.mcc.kts
  island/lobby/npc_witt.mcc.kts
Due: ktfmt, pyhocon

Removed space between Robby's items
  island/lobby/npc_robby.mcc.kts
Due: ktfmt

Ran ktlint
  island/lobby/npc_robby.mcc.kts
Due: ktfmt

Edited Comment
  island/lobby/npc_robby.mcc.kts
Due: ktfmt

Fixed Typo
  island/lobby/enabled_scripts.conf
Due: pyhocon
