Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru=0.5.3
  - python .gitlab/tools/parse-hocon.py

updated cosmetic master csv
  island/items/Cosmetic Master - Master.csv
Due: none

added cuckoo icon path to master
  island/items/Cosmetic Master - Master.csv
Due: none

Update Cosmetic Master - Master.csv
  island/items/Cosmetic Master - Master.csv
Due: none

STOP enabling cosmetics that don't have a ITEM_ID, NAME, DESCRIPTION or ICON_ID set
  island/items/Cosmetic Master - Master.csv
Due: none

Dont activate it if there is no ICON_ID
  island/items/Cosmetic Master - Master.csv
Due: none

Fix material ref for 'minecraft:fireball' now 'minecraft:fire_charge'
  island/items/Cosmetic Master - _Gadget.csv
Due: none

Update maps.conf
  event/battle_box/maps.conf
Due: pyhocon

HItw - Removed Silverfish trap
  island/hole_in_the_wall/traps/bad/mob/silverfish.conf
Due: pyhocon

Added reference to Skybattle Pyramid
  event/sky_battle/maps.conf
Due: pyhocon

added new skybattle test map wires
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Added reference for Sky Battle Wires
  event/sky_battle/maps.conf
Due: pyhocon

Fixed curlybracket error
  event/battle_box/maps.conf
Due: pyhocon

feature: flashing NPCs
  island/lobby/npc_join_faction.mcc.kts
Due: ktlint

bump script cli
  .gitlab-ci.yml
Due: prettier

bump again
  .gitlab-ci.yml
Due: prettier

try some logic
  island/lobby/npc_join_faction.mcc.kts
Due: ktlint

no logic for now just to test
  island/lobby/npc_join_faction.mcc.kts
Due: ktlint

add in some conditional logic
  island/lobby/npc_join_faction.mcc.kts
Due: ktlint

added new cosmetics/ fixed colours
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

cosmetic master update
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

Add initial experience cage marker
  compass/worlds/island/general/lobby.conf
Due: pyhocon

Move faction master onto the boat
  island/lobby/npc_join_faction.mcc.kts
Due: ktlint

fix: Restore battle box casual matchmaking
  island/matchmaking/game_configurations.conf
Due: pyhocon

Hitw - Adding durations to all mobs
  island/hole_in_the_wall/traps/bad/mob/aw_man.conf
  island/hole_in_the_wall/traps/bad/mob/creepy_crawlies.conf
  island/hole_in_the_wall/traps/bad/mob/hoglin.conf
  island/hole_in_the_wall/traps/bad/mob/hot_revenge.conf
  island/hole_in_the_wall/traps/bad/mob/mummy.conf
  island/hole_in_the_wall/traps/bad/mob/pillagers.conf
  island/hole_in_the_wall/traps/bad/mob/ravager.conf
  island/hole_in_the_wall/traps/bad/mob/revenge.conf
  island/hole_in_the_wall/traps/bad/mob/so_lonely.conf
  island/hole_in_the_wall/traps/bad/mob/spooky_ghosts.conf
Due: pyhocon

Renamed Gimbzo to Garry Gizmo
  island/lobby/enabled_scripts.conf
  island/lobby/npc_gizmo.mcc.kts
Due: ktlint, pyhocon

Update hole_in_the_wall.conf
  compass/worlds/island/games/hole_in_the_wall.conf
Due: pyhocon

added Beach
  island/hole_in_the_wall/maps.conf
Due: pyhocon

Added Beach
  compass/cards/island/hole_in_the_wall.json
Due: prettier

Update hole_in_the_wall.json
  compass/cards/island/hole_in_the_wall.json
Due: prettier

Add Classic map
  compass/worlds/island/games/hole_in_the_wall.conf
Due: pyhocon

Added Classic map
  island/hole_in_the_wall/maps.conf
Due: pyhocon

typo
  island/hole_in_the_wall/maps.conf
Due: pyhocon

Add emotes.conf
  island/emotes.conf
Due: pyhocon

Update island_hole_in_the_wall.conf
  samples/island_hole_in_the_wall.conf
Due: pyhocon

Update battle_box.conf
  samples/battle_box.conf
Due: pyhocon

Add hub paste height
  compass/worlds/island/games/battle_box.conf
Due: pyhocon

Add Ships map
  samples/battle_box.conf
Due: pyhocon

Revert "Merge branch 'develop' of https://git.noxcrew.com/mcc/configuration into develop"
  compass/worlds/island/games/battle_box.conf
Due: pyhocon

Revert "Revert "Merge branch 'develop' of https://git.noxcrew.com/mcc/configuration into develop""
  compass/worlds/island/games/battle_box.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
