Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
    script:
      - ./.gitlab/tools/compile-scripts.sh
    only:
      changes:
        - "**/*.mcc.kts"
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/online-devops/fs2consulkv:main-22e40148e044eb3b3c96cab51c06d1d7c940d392
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily12.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Add missing data to event teams config for the future
  event/event_teams.conf
Due: pyhocon

Ambient NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_adam.mcc.kts
  island/lobby/npc_anabelle.mcc.kts
  island/lobby/npc_biran.mcc.kts
  island/lobby/npc_charley.mcc.kts
  island/lobby/npc_edward.mcc.kts
  island/lobby/npc_huey.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Reverted Cori Changes
  island/lobby/npc_cori_walker.mcc.kts
Due: ktfmt, compile_scripts

Initial Island Ace Race compass configs
  compass/cards/island/ace_race.json
  compass/worlds/island/games/ace_race.conf
Due: prettier, pyhocon

Initial Island Ace Race compass configs
  compass/cards/island/ace_race.json
Due: prettier

Correct Ace Race conf
  compass/worlds/island/games/ace_race.conf
Due: pyhocon
