Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
    script:
      - ./.gitlab/tools/compile-scripts.sh
    only:
      changes:
        - "**/*.mcc.kts"
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/online-devops/fs2consulkv:main-22e40148e044eb3b3c96cab51c06d1d7c940d392
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Grid Runners - Fixing kits for prison
  event/grid_runners/room/replicate/breakable_blocks.conf
  event/grid_runners/room/replicate/equipment.conf
Due: pyhocon

Concepting a lot of new syntax
  compass/cards/event/ace_race.conf
  compass/cards/event/build_mart.conf
  compass/cards/event/grid_runners.conf
  compass/cards/event/sands_of_time.conf
  compass/cards/event/sands_of_time_template.conf
  compass/cards/island/lobbies/apartments.conf
  compass/cards/island/lobbies/main_lobby.conf
  compass/grid_runners.conf
  compass/markers/activatables.conf
  compass/worlds/event/ace_race.conf
  compass/worlds/event/build_mart.conf
  compass/worlds/event/grid_runners.conf
  compass/worlds/event/lobby.conf
  compass/worlds/event/sands_of_time.conf
  compass/worlds/island/general/apartments.conf
  compass/worlds/island/general/lobby.conf
Due: pyhocon

Pick a more unique room loadout for empty slots
  compass/cards/event/grid_runners.json
Due: prettier

Add more blocks
  build_server/custom_block_map.conf
Due: pyhocon

Remove the input type field
  compass/ace_race.json
  compass/apartments.json
  compass/battle_box.json
  compass/build_mart.json
  compass/event_lobby.json
  compass/faction_houses.json
  compass/game_lobbies.json
  compass/grid_runners.json
  compass/hole_in_the_wall.json
  compass/island_hitw.json
  compass/island_lobby.json
  compass/island_tgttos.json
  compass/parkour_tag.json
  compass/sky_battle.json
  compass/tgttosawaf.json
Due: prettier

Concept new format to declare scanner data
  compass/ace_race.conf
  compass/grid_runners.conf
  compass/parkour_tag.json
Due: prettier, pyhocon

Grid Runners doors
  event/grid_runners/door-closed.mcc.kts
  event/grid_runners/door-open.mcc.kts
Due: ktfmt, compile_scripts

Update GR rooms
  compass/cards/event/grid_runners.json
Due: prettier

Update metadata types
  compass/worlds/event/ace_race.conf
  compass/worlds/event/build_mart.conf
  compass/worlds/event/grid_runners.conf
  compass/worlds/event/hole_in_the_wall.conf
  compass/worlds/event/lobby.conf
  compass/worlds/event/sands_of_time.conf
Due: pyhocon

Add more room categories to GR
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Add block check to categories
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Add markers to sprint areas
  compass/cards/event/grid_runners.json
  compass/worlds/event/grid_runners.conf
Due: prettier, pyhocon

Remove sequences
  event/grid_runners/door-closed.mcc.kts
  event/grid_runners/door-open.mcc.kts
Due: ktfmt, compile_scripts

Add sound events to block checks
  compass/cards/event/grid_runners.json
  compass/worlds/event/grid_runners.conf
Due: prettier, pyhocon

Add metadata for which door animation to use to GR
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Add home stretch markers
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Rename homestretch to sprint
  compass/cards/event/grid_runners.json
  compass/worlds/event/grid_runners.conf
Due: prettier, pyhocon

Add more GR markers
  build_server/custom_block_map.conf
  compass/cards/event/grid_runners.json
  compass/worlds/event/grid_runners.conf
Due: prettier, pyhocon

Add mappings for custom items
  build_server/custom_item_map.conf
Due: pyhocon

Update marker name for event
  compass/worlds/event/lobby.conf
Due: pyhocon

More major format changes
  compass/cards/event/ace_race.conf
  compass/cards/event/ace_race.json
  compass/cards/event/build_mart.conf
  compass/cards/event/build_mart.json
  compass/cards/event/grid_runners.conf
  compass/cards/event/grid_runners.json
  compass/cards/event/lobby.json
  compass/cards/event/parkour_tag.json
  compass/cards/event/sands_of_time.conf
  compass/cards/event/sands_of_time.json.disabled
  compass/cards/event/sands_of_time_template.conf
  compass/cards/event/sands_of_time_template.json.disabled
  compass/cards/island/lobbies/apartments.conf
  compass/cards/island/lobbies/apartments.json
  compass/cards/island/lobbies/main_lobby.conf
  compass/cards/island/lobbies/main_lobby.json
  compass/markers/activatables.conf
  compass/worlds/event/ace_race.conf
  compass/worlds/event/build_mart.conf
  compass/worlds/event/grid_runners.conf
  compass/worlds/event/hole_in_the_wall.conf
  compass/worlds/event/lobby.conf
  compass/worlds/event/parkour_tag.conf
  compass/worlds/event/sands_of_time.conf
  compass/worlds/island/general/apartments.conf
  compass/worlds/island/general/lobby.conf
  event/parkour_tag/maps.conf
Due: prettier, pyhocon

Allow 10 sprint paste anchors
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Gird Runners - Created kits for first grid runners game.
  event/grid_runners/room/golf/equipment.conf
  event/grid_runners/room/kitchen/equipment.conf
  event/grid_runners/room/replicate/breakable_blocks.conf
  event/grid_runners/room/replicate/placeable_blocks.conf
  event/grid_runners/room/shoot_targets/equipment.conf
Due: pyhocon

Add more GR markers
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Fix syntax
  compass/worlds/event/hole_in_the_wall.conf
Due: pyhocon

Make sound events optional
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Indicate limits in a shorter format
  compass/ace_race.json
  compass/apartments.json
  compass/battle_box.json
  compass/build_mart.json
  compass/event_lobby.json
  compass/grid_runners.json
  compass/hole_in_the_wall.json
  compass/island_hitw.json
  compass/island_lobby.json
  compass/island_tgttos.json
  compass/parkour_tag.json
  compass/sky_battle.json
  compass/tgttosawaf.json
Due: prettier

Set GR server to island temporarily
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Prettier
  compass/cards/event/ace_race.json
  compass/cards/event/build_mart.json
  compass/cards/event/grid_runners.json
  compass/cards/event/lobby.json
  compass/cards/event/parkour_tag.json
  compass/cards/island/lobbies/apartments.json
  compass/cards/island/lobbies/main_lobby.json
Due: prettier

Various changes to processor formats
  compass/ace_race.json
  compass/apartments.json
  compass/battle_box.json
  compass/build_mart.json
  compass/event_lobby.json
  compass/faction_houses.json
  compass/game_lobbies.json
  compass/hole_in_the_wall.json
  compass/island_hitw.json
  compass/island_lobby.json
  compass/parkour_tag.json
  compass/sky_battle.json
Due: prettier

Update names of various markers and add a mapping config
  build_server/custom_block_map.conf
  compass/worlds/event/ace_race.conf
  compass/worlds/event/build_mart.conf
  compass/worlds/event/grid_runners.conf
  compass/worlds/event/hole_in_the_wall.conf
  compass/worlds/event/lobby.conf
  compass/worlds/event/parkour_tag.conf
  compass/worlds/island/general/lobby.conf
Due: pyhocon

Keep old map for island lobby
  island/lobby/maps.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
Due: pyhocon

Move GR compass world back to event
  compass/worlds/event/grid_runners.conf
Due: pyhocon
