Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - upload
    - deploy

prettier:
    stage: lint
    image: node:15.4.0-alpine
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    script:
        - yarn global add prettier
        - prettier -c .

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/.ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/.pyhocon.sh

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/fs2consulkv:master-5cb065cccf7422fe56f3526fceace7a4cf44e2a7
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/.consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --skip-prompt

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: upload
    extends: [.kube_env_dev, .upload_consul]

upload_consul_ptr:
    stage: upload
    extends: [.kube_env_ptr, .upload_consul]

Prettify NPC type examples
  island/lobby/npc_join_faction.mcc.kts
  island/lobby_hitw/npc_type_example.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Make Springsteen a shop
  island/lobby/npc_springsteen.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Island: Intermission Phase
  island/hole_in_the_wall/phases.conf
  island/tgttos/phases.conf
Due: pyhocon

Update npc_types.conf
  island/npc_types.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
Due: pyhocon

Change TGTTOS and HITW phase timings
  island/hole_in_the_wall/phases.conf
  island/tgttos/phases.conf
Due: pyhocon

Add new NPC types
  island/npc_types.conf
Due: pyhocon

Make joey a quest giver
  island/lobby/npc_joey_fresh.mcc.kts
Due: ktfmt

Feature/addnpctypes
  island/lobby/npc_joey_fresh.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Add NPC type to test npc
  island/lobby/npc_skin_test.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Ace Race Tutorial
  island/ace_race/camera_path.conf
  island/ace_race/tutorial.mcc.kts
Due: ktfmt, pyhocon

pre-load tutorial script
  island/ace_race/enabled_scripts.conf
Due: pyhocon

change elevator time
  island/apartments/apartments.conf
Due: pyhocon

factionnpcfix
  island/lobby/npc_join_faction.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Increase elevator time
  island/apartments/apartments.conf
Due: pyhocon

clown
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Update NPCs and their translations
  island/lobby/lobby_hitw/npc_hitw.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_skin_test.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt

Revert "Update NPCs and their translations"
  island/lobby/lobby_hitw/npc_hitw.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_skin_test.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt

Update npcs and their translations
  island/lobby/lobby_hitw/npc_hitw.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_skin_test.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt

join faction npc name update
  island/lobby/npc_join_faction.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

join faction npc name update
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Update npc_join_faction.mcc.kts
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Revert "Update npc_join_faction.mcc.kts"
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Update npc_joey_fresh.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
Due: ktfmt

Make NPC dialogues translateable
  island/lobby/lobby_hitw/npc_hitw.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt

Remove extra folders
  island/lobby/lobby_hitw/enabled_scripts.conf
  island/lobby/lobby_hitw/npc_hitw.mcc.kts
  island/lobby/lobby_tgttos/enabled_scripts.conf
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/npc_hitw.mcc.kts
  ktfmt.ps1
Due: ktfmt, pyhocon

Fix npc translations
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
  island/lobby_hitw/npc_hitw.mcc.kts
Due: ktfmt

Update furniture.conf
  island/apartments/furniture.conf
Due: pyhocon

Revert "Update furniture.conf"
  island/apartments/furniture.conf
Due: pyhocon

move hitw npc
  island/lobby_hitw/npc_hitw.mcc.kts
Due: ktfmt

Update some of the hub npcs
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_skin_test.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon
