Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
    script:
      - ./.gitlab/tools/compile-scripts.sh
    only:
      changes:
        - "**/*.mcc.kts"
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/online-devops/fs2consulkv:main-22e40148e044eb3b3c96cab51c06d1d7c940d392
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

HITW - Adjusting Traps
  island/hole_in_the_wall/traps/bad/arrow_storm.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/bad/mob/ravager.conf
  island/hole_in_the_wall/traps/bad/mob/silverfish.conf
  island/hole_in_the_wall/traps/neutral/mob/swimmy_fish.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
Due: pyhocon

Move holograms up
  island/lobby/holograms.conf
Due: pyhocon

Move holograms again
  island/lobby/holograms.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Update platform_controller.conf
  island/hole_in_the_wall/platform_controller.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Update GR markers and block mapping
  build_server/custom_block_map.conf
  compass/cards/event/grid_runners.json
  compass/worlds/event/grid_runners.conf
Due: prettier, pyhocon

Update island lobby map name
  island/lobby/maps.conf
Due: pyhocon

Change build_server type to folder
  compass/ace_race.json
  compass/apartments.json
  compass/battle_box.json
  compass/build_mart.json
  compass/event_lobby.json
  compass/faction_houses.json
  compass/game_lobbies.json
  compass/grid_runners.json
  compass/hole_in_the_wall.json
  compass/island_hitw.json
  compass/island_lobby.json
  compass/island_tgttos.json
  compass/parkour_tag.json
  compass/sky_battle.json
  compass/tgttosawaf.json
Due: prettier

Revert changes to compass jsons
  compass/ace_race.json
  compass/apartments.json
  compass/battle_box.json
  compass/build_mart.json
  compass/event_lobby.json
  compass/faction_houses.json
  compass/game_lobbies.json
  compass/grid_runners.json
  compass/hole_in_the_wall.json
  compass/island_hitw.json
  compass/island_lobby.json
  compass/island_tgttos.json
  compass/parkour_tag.json
  compass/sky_battle.json
  compass/tgttosawaf.json
Due: prettier

Add block_check room markers
  compass/cards/event/grid_runners.json
  compass/worlds/event/grid_runners.conf
Due: prettier, pyhocon

Change included rooms
  compass/cards/event/grid_runners.json
Due: prettier
