Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - upload
    - deploy

prettier:
    stage: lint
    image: node:15.4.0-alpine
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    script:
        - yarn global add prettier
        - prettier -c .

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/.ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/.pyhocon.sh

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/fs2consulkv:master-5cb065cccf7422fe56f3526fceace7a4cf44e2a7
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/.consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --skip-prompt

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: upload
    extends: [.kube_env_dev, .upload_consul]

upload_consul_ptr:
    stage: upload
    extends: [.kube_env_ptr, .upload_consul]

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/accessoryStore_static.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/gadgetStore_weekly.conf
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_daily12.conf
  island/shop/autogen/particleStore_weekly.conf
Due: pyhocon

Update
  island/shop/autogen/accessoryStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Update island/shop/cosmetics_master.csv
  island/shop/cosmetics_master.csv
Due: none

Update cosmetics_master.csv
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/accessoryStore_static.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/gadgetStore_weekly.conf
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_daily12.conf
  island/shop/autogen/particleStore_weekly.conf
  island/shop/cosmetics_master.csv
Due: pyhocon

Add podium area to TGTTOS map
  island/tgttos/maps.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Island: Add TGTTOS tutorial sound
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Feature/replace furniture model ids
  island/apartments/furniture.conf
Due: pyhocon

Update furniture.conf
  island/apartments/furniture.conf
Due: pyhocon

Update holograms to put on 1 line
  island/lobby/holograms.conf
Due: pyhocon

Added all the factions
  island/factions.conf
Due: pyhocon

Island: Add podium for HITW
  compass/island_hitw.json
Due: prettier

Island: Add podium for HITW
  island/hole_in_the_wall/maps.conf
Due: pyhocon

Emojis, not emotes
  island/faces.conf
Due: pyhocon

Island: Make HITW podium area be on the same map
  compass/island_hitw.json
Due: prettier

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/gadgetStore_weekly.conf
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_weekly.conf
Due: pyhocon

Use new rewards format, implement faction progression rewards
  island/faction_data.conf
  island/faction_data_new.conf
  island/factions.conf
  island/factions_new.conf
  island/quests/daily/testquest.conf
  island/quests/daily_new/testquest.conf
  island/quests/weekly/testquest.conf
  island/quests/weekly_new/testquest.conf
  island/quests/world/testquest.conf
  island/quests/world_new/testquest.conf
Due: pyhocon

Re-add all factions
  island/factions.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
Due: pyhocon

Move holograms down
  island/lobby/holograms.conf
Due: pyhocon

Update maps.conf
  island/lobby/maps.conf
Due: pyhocon

Change cooldown on faction npc
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Enable team coloured boots
  island/hole_in_the_wall/equipment.conf
  island/tgttos/equipment.conf
Due: pyhocon

Added Cosmetic Head configuration
  island/cosmetics/head_cosmetics.conf
Due: pyhocon
