Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru=0.5.3
  - python .gitlab/tools/parse-hocon.py

Attempted Fix 5
  island/lobby/npc_victor.mcc.kts
Due: ktlint

Update npc_shadydan.mcc.kts
  island/lobby/npc_shadydan.mcc.kts
Due: ktlint

Another spacing fix
  island/lobby/npc_tiffany.mcc.kts
Due: ktlint

Update npc_gary.mcc.kts
  island/lobby/npc_gary.mcc.kts
Due: ktlint

Update npc_barista_bella.mcc.kts
  island/lobby/npc_barista_bella.mcc.kts
Due: ktlint

Updated Hair Rarity; Adjusted Hologram height for HITW
  island/items/Cosmetic Master - Master.csv
  island/lobby_hitw/holograms.conf
Due: pyhocon

Update ace_race.conf
  samples/ace_race.conf
Due: pyhocon

Hologram and Pathing Adjustments
  island/lobby/npc_bronan.mcc.kts
  island/lobby/npc_gary.mcc.kts
  island/lobby_ace-race/holograms.conf
Due: ktlint, pyhocon

Renamed "Heads" to "Hats" in spreadsheet master
  island/items/Cosmetic Master - Master.csv
Due: none

Move kits conf
  island/battle_box/kits.conf
Due: pyhocon

Remove old kits conf
  island/battle_box/haunted_house/kits.conf
Due: pyhocon

players -> filter
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Island: Adjust BB kits to allow for multiple items
  island/battle_box/kits.conf
Due: pyhocon

Updated Kiosks; Removed Ace Race Tutorial Delay
  island/ace_race/tutorial.mcc.kts
  island/lobby_ace-race/holograms.conf
  island/lobby_tgttos/holograms.conf
Due: ktlint, pyhocon

Statistic holograms: HITW
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Rename second board
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Move boards a bit
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

TGTTOS
  island/lobby_tgttos/statistic_holograms.conf
Due: pyhocon

Location tweaks
  island/lobby_tgttos/statistic_holograms.conf
Due: pyhocon

Ace Race
  island/lobby_ace-race/statistic_holograms.conf
Due: pyhocon

Tweak position
  island/lobby_ace-race/statistic_holograms.conf
Due: pyhocon

Update game_configurations.conf
  island/matchmaking/game_configurations.conf
Due: pyhocon

Removed Gadgets from shop Rotation
  island/items/Cosmetic Master - _Gadget.csv
  island/items/Cosmetic_Master_-__Gadget.csv
Due: none

Fixed Goggles / TV Head bug
  island/lobby/npc_mannequin1.mcc.kts
  island/lobby/npc_mannequin3.mcc.kts
  island/lobby/npc_mannequin4.mcc.kts
Due: ktlint

Attempted fix
  island/lobby/npc_gimbzo_toktorc.mcc.kts
Due: ktlint

Added dialogue for Gimbzo
  island/lobby/npc_gimbzo_toktorc.mcc.kts
Due: ktlint

Alpha Adjustments
  island/ace_race/ace_race_scores.conf
  island/lobby/npc_gimbzo_toktorc.mcc.kts
  island/lobby/npc_mia_wattington.mcc.kts
Due: ktlint, pyhocon

ktlint Fix
  island/lobby/npc_gimbzo_toktorc.mcc.kts
  island/lobby/npc_mia_wattington.mcc.kts
Due: ktlint

ktlint Fix 2
  island/lobby/npc_gimbzo_toktorc.mcc.kts
  island/lobby/npc_mia_wattington.mcc.kts
Due: ktlint

Removed space
  island/lobby/npc_mia_wattington.mcc.kts
Due: ktlint

Update Cosmetic Master - Master.csv
  island/items/Cosmetic Master - Master.csv
Due: none

Pre-Alpha Adjustments
  island/lobby/enabled_scripts.conf
  island/shop/rotation_gen.conf
Due: pyhocon

Renamed 'Adam' to 'Nero'
  island/lobby/enabled_scripts.conf
  island/lobby/npc_nero.mcc.kts
Due: ktlint, pyhocon

Ace Race Coin adjustments
  island/ace_race/ace_race_scores.conf
Due: pyhocon

Skin Fixes; Ace Race Scoring Adjustments
  island/ace_race/ace_race_scores.conf
  island/lobby/npc_charley.mcc.kts
  island/lobby/npc_tina_starstop.mcc.kts
Due: ktlint, pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
