Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - prepare
    - deploy
    - delete

prettier:
    stage: prepare
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: prepare
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: prepare
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.58
        - pip install loguru==0.5.3
        - python .gitlab/tools/parse-hocon.py

compile_scripts:
    stage: prepare
    image: harbor.services.noxcrew.online/mcc/mcc-script-cli:940e017616f716b28bc574cd2eecb1cd8ce98077
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"
        policy: pull

.kube_env_dev:
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_ptr:
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_prod:
    environment:
        name: production-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

#upload_consul_ptr:
#    stage: deploy
#    extends: [.kube_env_ptr, .upload_consul]
#    only:
#        - main
#        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

delete_consul_dev:
    extends: .kube_env_dev
    dependencies: []
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    stage: delete
    when: manual
    variables:
        GIT_STRATEGY: none
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" -recurse configuration/"$CI_COMMIT_BRANCH"
    except:
      - main
      - master
      - develop

changes
  island/tgttos/beehive/modifiers.conf
  island/tgttos/cliff/modifiers.conf
  island/tgttos/factory/modifiers.conf
  island/tgttos/glide/modifiers.conf
  island/tgttos/mesa/modifiers.conf
  island/tgttos/modifiers/red_light_green_light.conf
  island/tgttos/pits/modifiers.conf
  island/tgttos/rounds.conf
  island/tgttos/shallow_lava/modifiers.conf
  island/tgttos/siege/modifiers.conf
  island/tgttos/skydive/modifiers.conf
  island/tgttos/skyscraper/modifiers.conf
  island/tgttos/treetop/modifiers.conf
  island/tgttos/walls/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

change
  island/tgttos/glide/modifiers.conf
  island/tgttos/rounds.conf
  island/tgttos/skydive/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

.
  samples/to_get_to_the_other_side.conf
Due: pyhocon

changes
  island/tgttos/skydive/modifiers.conf
Due: pyhocon

Revert changes to CI
  .gitlab-ci.yml
Due: prettier

change
  samples/to_get_to_the_other_side.conf
Due: pyhocon

safe_zone marker
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

change
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

move npc-s out of furniture
  island/lobby/npc_bea.mcc.kts
  island/lobby/npc_blaise.mcc.kts
Due: ktlint

Add RSR decay and overlap times
  event/rocket_spleef/test/generator.conf
Due: pyhocon

Bump up the overlap time
  event/rocket_spleef/test/generator.conf
Due: pyhocon

Add classic RS map
  event/rocket_spleef/generator.conf
  event/rocket_spleef/maps.conf
Due: pyhocon

Rocket Spleef - reduced spawn disatance of islands
  event/rocket_spleef/generator.conf
Due: pyhocon

cosmetic sheet update
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

Added Barber chair
  island/apartments/furniture.conf
Due: pyhocon

remove safezone marker
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

change settings
  island/tgttos/skydive/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

change
  island/tgttos/modifiers/red_light_green_light.conf
Due: pyhocon

Adjusted NPC positions to fit new hub furniture
  island/lobby/npc_alice.mcc.kts
  island/lobby/npc_bea.mcc.kts
  island/lobby/npc_bella.mcc.kts
  island/lobby/npc_bessie.mcc.kts
  island/lobby/npc_biran.mcc.kts
  island/lobby/npc_blaise.mcc.kts
  island/lobby/npc_cree.mcc.kts
  island/lobby/npc_edward.mcc.kts
  island/lobby/npc_eric.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_rachel.mcc.kts
  island/lobby/npc_stuart.mcc.kts
Due: ktlint

changes
  island/tgttos/modifiers/red_light_green_light.conf
  island/tgttos/skydive/modifiers.conf
Due: pyhocon

changes
  island/tgttos/modifiers/red_light_green_light.conf
Due: pyhocon

value changes
  island/tgttos/modifiers/red_light_green_light.conf
Due: pyhocon

hitw - editing traps
  island/hole_in_the_wall/traps/bad/interactive/blast_off.conf
  island/hole_in_the_wall/traps/bad/interactive/cobweb.conf
  island/hole_in_the_wall/traps/bad/interactive/fishing_rod.conf
  island/hole_in_the_wall/traps/bad/interactive/high_gravity_dart.conf
  island/hole_in_the_wall/traps/bad/interactive/levitation_dart.conf
  island/hole_in_the_wall/traps/bad/interactive/snowball_fight.conf
Due: pyhocon

change
  island/tgttos/skydive/modifiers.conf
Due: pyhocon

Upload on prod
  .gitlab-ci.yml
Due: prettier

prd
  .gitlab-ci.yml
Due: prettier

Check for port & retry
  .gitlab/tools/consul-wrapper.py
Due: none

Add indicator firework to RSR and new config options
  compass/worlds/event/rocket_spleef_rush.conf
  event/rocket_spleef/generator.conf
Due: pyhocon

Rocket spleef - adding more region
  compass/worlds/event/rocket_spleef_rush.conf
Due: pyhocon

Add more RSR maps
  event/rocket_spleef/maps.conf
  event/rocket_spleef/rusher/generator.conf
Due: pyhocon
