Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
    script:
      - ./.gitlab/tools/compile-scripts.sh
    only:
      changes:
        - "**/*.mcc.kts"
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/online-devops/fs2consulkv:main-22e40148e044eb3b3c96cab51c06d1d7c940d392
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Add HITW podiums
  compass/worlds/island/games/hole_in_the_wall.conf
  island/hole_in_the_wall/maps.conf
Due: pyhocon

Add HITW podiums
  compass/worlds/island/games/hole_in_the_wall.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
Due: pyhocon

Removed test/pitch NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_gimbzo_fivetork.mcc.kts
  island/lobby/npc_gimbzo_fourtork.mcc.kts
  island/lobby/npc_gimbzo_seventork.mcc.kts
  island/lobby/npc_gimbzo_sixtork.mcc.kts
  island/lobby/npc_gimbzo_threetork.mcc.kts
  island/lobby/npc_gimbzo_twotork.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

NPC Nameplate edit
  island/lobby/npc_acc_diana.mcc.kts
  island/lobby/npc_bling_king.mcc.kts
  island/lobby/npc_gimbzo_toktorc.mcc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
  island/lobby/npc_weezoo.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon, compile_scripts

Add elevator scan
  compass/worlds/island/general/apartments.conf
Due: pyhocon

Update game lobbies to the new compass format
  compass/cards/island/lobbies/game_lobby.json
  compass/worlds/island/general/game_lobby.conf
Due: prettier, pyhocon

Prettier
  compass/cards/island/lobbies/game_lobby.json
Due: prettier

Update HITW while we're at it
  compass/worlds/island/games/hole_in_the_wall.conf
Due: pyhocon

Add the correct sections to the game lobby conf
  compass/worlds/island/general/game_lobby.conf
Due: pyhocon

Support server portals in game lobbies
  compass/worlds/island/general/game_lobby.conf
Due: pyhocon

Loads of map fixes
  compass/cards/island/lobbies/apartments.json
  compass/cards/island/lobbies/game_lobby.json
  compass/worlds/island/general/game_lobby.conf
  island/apartments/maps.conf
  island/lobby_ace-race/maps.conf
  island/lobby_hitw/maps.conf
  island/lobby_tgttos/maps.conf
Due: prettier, pyhocon

Minor fixes
  compass/cards/island/lobbies/game_lobbies.json
  compass/worlds/island/general/game_lobbies.conf
Due: prettier, pyhocon

Update map names
  island/lobby_ace-race/maps.conf
  island/lobby_hitw/maps.conf
  island/lobby_tgttos/maps.conf
Due: pyhocon

Temporarily disable the tgttos and ace-race map deployments
  compass/worlds/island/general/game_lobbies.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Remove split sections for game lobbies
  compass/cards/island/lobbies/game_lobbies.json
Due: prettier

Add lobby location scan
  compass/worlds/island/general/lobby.conf
Due: pyhocon

add location meta
  compass/worlds/island/general/lobby.conf
Due: pyhocon

Update lobby.conf
  compass/worlds/island/general/lobby.conf
Due: pyhocon

Update furniture.conf
  island/apartments/furniture.conf
Due: pyhocon

Cleanup
  compass/worlds/event/build_mart.conf
  compass/worlds/island/general/game_lobbies.conf
Due: pyhocon
