Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - upload
    - deploy

prettier:
    stage: lint
    image: node:15.4.0-alpine
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    script:
        - yarn global add prettier
        - prettier -c .

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/.ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/.pyhocon.sh

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/fs2consulkv:master-5cb065cccf7422fe56f3526fceace7a4cf44e2a7
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/.consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --skip-prompt

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: upload
    extends: [.kube_env_dev, .upload_consul]

upload_consul_ptr:
    stage: upload
    extends: [.kube_env_ptr, .upload_consul]

Feature/music npc
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt

Make springsteen lang string
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt

Revert "Make springsteen lang string"
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt

Apartment config
  island/apartments/apartments.conf
  island/apartments/furniture.conf
Due: pyhocon

Update furniture.conf
  island/apartments/furniture.conf
Due: pyhocon

Island: Add example lobby hologram
  island/lobby/holograms.conf
Due: pyhocon

Island: Add example lobby hologram, but with correct format
  island/lobby/holograms.conf
Due: pyhocon

Change position of welcome text
  island/lobby/holograms.conf
Due: pyhocon

Add hitw entrance hologram
  island/lobby/holograms.conf
Due: pyhocon

Add tgttos hologram
  island/lobby/holograms.conf
Due: pyhocon

Try an empty line in the lobby jump messages
  island/lobby/holograms.conf
Due: pyhocon

TGTTOS Randomization
  compass/island_tgttos.json
Due: prettier

Correct chunk coords
  compass/island_tgttos.json
Due: prettier

Island: Use the new hologram system
  island/lobby/holograms.conf
Due: pyhocon

Island: Add Shelly
  island/lobby/enabled_scripts.conf
  island/lobby/npc_shelly.mcc.kts
Due: ktfmt, pyhocon

Island: Fix Shelly
  island/lobby/npc_shelly.mcc.kts
Due: ktfmt

Remove tgttos splitting
  compass/island_tgttos.json
Due: prettier

Island: Add base Ace Race configs
  island/ace_race/camera_path.conf
  island/ace_race/custom_riptide.conf
  island/ace_race/equipment.conf
  island/ace_race/maps.conf
  island/ace_race/phases.conf
  island/ace_race/potion_effects.conf
  island/ace_race/rounds.conf
  island/ace_race/scoring.conf
  island/ace_race/spectator_equipment.conf
  island/ace_race/tutorial.mcc.kts
Due: ktfmt, pyhocon

Correct the reference points of randomization
  compass/island_tgttos.json
Due: prettier

Revert randomization reference change
  compass/island_tgttos.json
Due: prettier

TGTTOS randomization
  island/tgttos/maps.conf
Due: pyhocon

Change randomization markers to new location
  compass/island_tgttos.json
Due: prettier

Island: Add the ace race lobby
  compass/game_lobbies.json
  island/lobby_ar/enabled_scripts.conf
  island/lobby_ar/maps.conf
Due: prettier, pyhocon

Correct map name
  island/lobby_ar/maps.conf
Due: pyhocon

ar -> ace_race
  island/lobby_ace_race/enabled_scripts.conf
  island/lobby_ace_race/maps.conf
Due: pyhocon

Feature/config for sound
  island/friend_alerts.conf
  island/hole_in_the_wall/hitw_scores.conf
  island/hole_in_the_wall/island_elimination_game.conf
  island/tgttos/tgttos_scores.conf
Due: pyhocon

ace_race -> ace-ace...
  compass/game_lobbies.json
  island/lobby_ace-race/enabled_scripts.conf
  island/lobby_ace-race/lobby_pipe.conf
  island/lobby_ace-race/maps.conf
  island/lobby_ace_race/maps.conf
  island/lobby_hitw/lobby_pipe.conf
  island/lobby_tgttos/lobby_pipe.conf
Due: prettier, pyhocon

adjust velocity
  island/lobby_ace-race/lobby_pipe.conf
  island/lobby_hitw/lobby_pipe.conf
  island/lobby_tgttos/lobby_pipe.conf
Due: pyhocon

Add Office Chair 1
  island/apartments/furniture.conf
Due: pyhocon

tweak pipe delays
  island/lobby_ace-race/lobby_pipe.conf
  island/lobby_hitw/lobby_pipe.conf
  island/lobby_tgttos/lobby_pipe.conf
Due: pyhocon

Feature/pipes
  island/lobby_ace-race/lobby_pipe.conf
  island/lobby_hitw/lobby_pipe.conf
  island/lobby_tgttos/lobby_pipe.conf
Due: pyhocon

Add podium markers into tgttos compass
  compass/island_tgttos.json
Due: prettier

Correct podium marker names
  compass/island_tgttos.json
Due: prettier

Correct podium spawnpoints
  compass/island_tgttos.json
Due: prettier

Duplicate quest/faction data for testing with new rewards system
  island/faction_data_new.conf
  island/factions_new.conf
  island/quests/daily_new/testquest.conf
  island/quests/weekly_new/testquest.conf
  island/quests/world_new/testquest.conf
Due: pyhocon

Add test configuration for shop api
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/accessoryStore_static.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/randomStore_static.conf
  island/shop/cosmetics_master.csv
  island/shop/rotation_gen.conf
Due: pyhocon

Remove rotations
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/accessoryStore_static.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/randomStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/accessoryStore_static.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/randomStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
Due: pyhocon

Update cosmetics_master.csv
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/accessoryStore_static.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/randomStore_static.conf
  island/shop/cosmetics_master.csv
Due: pyhocon
