Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy
    - delete

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: lint
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: harbor.services.noxcrew.online/tools/mcc-script-cli:main-20429a46e13b53096fe53158792d6b6b7d7ff5b1
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-407e04d9cab6f272db856d3705d6f2fc0d9525de
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        on_stop: delete_consul_ptr
        kubernetes:
            namespace: ops

.kube_env_prod:
    extends: .upload_consul
    environment:
        name: production-fs2consulkv
        on_stop: delete_consul_prod
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

delete_consul_dev:
    extends: .kube_env_dev
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-407e04d9cab6f272db856d3705d6f2fc0d9525de
    stage: delete
    when: manual
    variables:
        GIT_STRATEGY: none
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" configuration/"$CI_COMMIT_BRANCH" -recurse
    except:
      - main
      - master  

# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Update game_configurations.conf
  island/matchmaking/game_configurations.conf
Due: pyhocon

hitw leaderboard test
  island/lobby_hitw/holograms.conf
Due: pyhocon

holo fix
  island/lobby_hitw/holograms.conf
Due: pyhocon

Event - Battle Box - Enabled Graffiti Map
  event/battle_box/maps.conf
Due: pyhocon

Event - Battle Box - Fixed ID
  event/battle_box/maps.conf
Due: pyhocon

Event - Battle Box - Fixed Fixed ID
  event/battle_box/maps.conf
Due: pyhocon

Island lobby shop area region
  compass/worlds/island/general/lobby.conf
Due: pyhocon

Allow breaking and placing wool in BB in general
  event/battle_box/breakable_blocks.conf
  event/battle_box/haunted_house/breakable_blocks.conf
  event/battle_box/haunted_house/placeable_blocks.conf
  event/battle_box/placeable_blocks.conf
  island/battle_box/breakable_blocks.conf
  island/battle_box/haunted_house/breakable_blocks.conf
  island/battle_box/haunted_house/placeable_blocks.conf
  island/battle_box/placeable_blocks.conf
Due: pyhocon

Update to_get_to_the_other_side.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Adjusted NPCs Skin Duplicates
  island/lobby/enabled_scripts.conf
  island/lobby/npc_bling_king.mcc.kts
  island/lobby/npc_jimmie.mcc.kts
  island/lobby/npc_noah.mcc.kts
Due: ktlint, pyhocon

Adjusted HITW Scores
  island/hole_in_the_wall/hitw_scores.conf
Due: pyhocon

Scoring typo adjusted in TGTTOS
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Adjusted walking path for NPCs
  island/lobby/npc_cori_walker.mcc.kts
  island/lobby/npc_quinn.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
  island/lobby/npc_vi.mcc.kts
Due: ktlint

Added Redstone Juggling Room
  event/grid_runners/room/building/redstone_juggling/breakable_blocks.conf
  event/grid_runners/room/building/redstone_juggling/placeable_blocks.conf
Due: pyhocon

GR - Added room house_search
  event/grid_runners/room/house_search/breakable_blocks.conf
  event/grid_runners/room/house_search/equipment.conf
Due: pyhocon

GR - Added Room jungle_bridge_build
  event/grid_runners/room/jungle_bridge_build/breakable_blocks.conf
  event/grid_runners/room/jungle_bridge_build/equipment.conf
  event/grid_runners/room/jungle_bridge_build/placeable_blocks.conf
Due: pyhocon

GR - Added MCC Allstars preset
  compass/cards/event/grid_runners.json
Due: prettier

GR - Put clean the statue first
  compass/cards/event/grid_runners.json
Due: prettier

Add MCC All-Stars GR map
  event/grid_runners/maps.conf
Due: pyhocon

Fix zip name
  event/grid_runners/maps.conf
Due: pyhocon

Update breakable blocks for house search
  event/grid_runners/room/house_search/breakable_blocks.conf
Due: pyhocon

Updated roaming NPCs and Cosmetic Master
  island/items/Cosmetic Master - Master.csv
  island/lobby/npc_cori_walker.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
Due: ktlint

GR - Updated breakable blocks for House Search
  event/grid_runners/room/house_search/breakable_blocks.conf
  event/grid_runners/room/house_search/equipment.conf
Due: pyhocon

Cosmetic Master / Roamy adjustments
  island/items/Cosmetic Master - Master.csv
  island/lobby/npc_roamy_stepton.mcc.kts
Due: ktlint

GR - Updated breakable blocks for Jungle Bridge Build
  event/grid_runners/room/jungle_bridge_build/breakable_blocks.conf
Due: pyhocon

GR - Added quick fix for iron axe crashing everything
  event/grid_runners/room/house_search/equipment.conf
Due: pyhocon

Moved jungle_bridge_build and house_search to building folder
  event/grid_runners/room/building/house_search/breakable_blocks.conf
  event/grid_runners/room/building/house_search/equipment.conf
  event/grid_runners/room/building/jungle_bridge_build/breakable_blocks.conf
  event/grid_runners/room/building/jungle_bridge_build/equipment.conf
  event/grid_runners/room/building/jungle_bridge_build/placeable_blocks.conf
Due: pyhocon

Revert "Moved jungle_bridge_build and house_search to building folder"
  event/grid_runners/room/house_search/breakable_blocks.conf
  event/grid_runners/room/house_search/equipment.conf
  event/grid_runners/room/jungle_bridge_build/breakable_blocks.conf
  event/grid_runners/room/jungle_bridge_build/equipment.conf
  event/grid_runners/room/jungle_bridge_build/placeable_blocks.conf
Due: pyhocon

Add HOCON parsing
  .gitlab-ci.yml
  .gitlab/tools/parse-hocon.py
  .gitlab/tools/pyhocon.sh
  island/friend_alerts.conf
Due: prettier, pyhocon

Fix HOCON file
  island/friend_alerts.conf
Due: pyhocon

Specify Python
  .gitlab-ci.yml
Due: prettier

Actually run this time
  .gitlab-ci.yml
  .gitlab/tools/parse-hocon.py
Due: prettier

=
  .gitlab-ci.yml
Due: prettier

Fix YAML
  .gitlab-ci.yml
Due: prettier

Fix script caching
  .gitlab-ci.yml
Due: prettier

Fix typos
  event/grid_runners/room/building/house_search/breakable_blocks.conf
  event/grid_runners/room/building/jungle_bridge_build/breakable_blocks.conf
Due: pyhocon

Fix another typo
  event/grid_runners/room/building/house_search/breakable_blocks.conf
Due: pyhocon
