Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
    script:
      - ./.gitlab/tools/compile-scripts.sh
    only:
      changes:
        - "**/*.mcc.kts"
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/online-devops/fs2consulkv:main-22e40148e044eb3b3c96cab51c06d1d7c940d392
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Updated Hat CSV
  island/items/Cosmetic Master - Hat.csv
Due: none

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
Due: pyhocon

NPC naming pitch
  island/lobby/enabled_scripts.conf
  island/lobby/npc_gimbzo_fivetork.mcc.kts
  island/lobby/npc_gimbzo_fourtork.mcc.kts
  island/lobby/npc_gimbzo_threetork.mcc.kts
  island/lobby/npc_gimbzo_twotork.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon, compile_scripts

coord fix
  island/lobby/npc_gimbzo_fivetork.mcc.kts
  island/lobby/npc_gimbzo_fourtork.mcc.kts
  island/lobby/npc_gimbzo_threetork.mcc.kts
Due: ktfmt, compile_scripts

2 more npc pitches
  island/lobby/npc_gimbzo_seventorc.mcc.kts
  island/lobby/npc_gimbzo_sixtorc.mcc.kts
Due: ktfmt, compile_scripts

enabled scripts fix
  island/lobby/enabled_scripts.conf
Due: pyhocon

spelling fix
  island/lobby/npc_gimbzo_seventork.mcc.kts
  island/lobby/npc_gimbzo_sixtork.mcc.kts
Due: ktfmt, compile_scripts

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

HITW - Adjusting traps
  island/hole_in_the_wall/traps/bad/effect/getting_dizzy.conf
  island/hole_in_the_wall/traps/bad/effect/molasses.conf
  island/hole_in_the_wall/traps/bad/effect/my_eyes.conf
  island/hole_in_the_wall/traps/bad/effect/super_speed.conf
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/bad/mob/bomb_squad.conf
Due: pyhocon

HITW - Adjusting traps
  island/hole_in_the_wall/traps/bad/arrow_storm.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/neutral/effect/low_gravity.conf
Due: pyhocon

HITW - Trap Adjustments
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/bad/sandfall.conf
Due: pyhocon

HITW - Adjusting traps
  island/hole_in_the_wall/traps/bad/effect/leg_day.conf
Due: pyhocon

Added accessories
  island/cosmetics/accessory_cosmetics.conf
  island/items/Cosmetic Master - Hat.csv
  island/items/Cosmetic Master - Master.csv
  island/items/Cosmetic_Master_Augment.csv
  island/items/Cosmetic_Master_Aura.csv
  island/items/Cosmetic_Master_Consumable.csv
  island/items/Cosmetic_Master_Emoji.csv
  island/items/Cosmetic_Master_Mount.csv
  island/items/Cosmetic_Master_Off-Hand.csv
  island/items/Cosmetic_Master_Trail.csv
Due: pyhocon

Added Acc Diana NPC
  island/lobby/npc_acc_diana.mcc.kts
Due: ktfmt, compile_scripts

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
Due: pyhocon

HITW - Lowered death plane
  island/hole_in_the_wall/elimination_plane.conf
Due: pyhocon
