Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily12.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

ktlint fix?
  .gitlab/tools/ktlint.sh
Due: none

ktlint fix? 2
  .gitlab/tools/ktlint.sh
  build_server/custom_block_map.conf
  build_server/custom_item_map.conf
  event/ace_race/custom_riptide.conf
  event/ace_race/maps.conf
  event/ace_race/potion_effects.conf
  event/ace_race/scoring.conf
  event/battle_box/maps.conf
  event/build_mart/maps.conf
Due: pyhocon

ktlint fix? 3
  .gitlab/tools/ktlint.sh
Due: none

Added Thor-skinned NPCs
  island/lobby/npc_danique.mcc.kts
  island/lobby/npc_sven.mcc.kts
  island/lobby/npc_tor.mcc.kts
Due: ktfmt

Updated Comment
  island/lobby/npc_tor.mcc.kts
Due: ktfmt

Running ktlint
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Attempted Fix
  island/apartments/furniture.conf
  island/lobby/enabled_scripts.conf
  island/lobby/npc_danique.mcc.kts
  island/lobby/npc_sven.mcc.kts
  island/lobby/npc_tor.mcc.kts
Due: ktfmt, pyhocon

Replace ktlint.ps1 with ktlint.bat
  ktlint.bat
  ktlint.ps1
Due: none

Adjusted Spacing
  island/lobby/npc_danique.mcc.kts
  island/lobby/npc_sven.mcc.kts
  island/lobby/npc_tor.mcc.kts
Due: ktfmt

Add section for ref_randomization
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

Run ktlint, allow it to be run on java 16
  island/lobby/npc_danique.mcc.kts
  island/lobby/npc_join_faction.mcc.kts
  island/lobby/npc_sven.mcc.kts
  island/lobby/npc_tor.mcc.kts
  ktlint.bat
Due: ktfmt

Attempt fix of ref region
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

Revert
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

Don't require random references or targets
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
