Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru=0.5.3
  - python .gitlab/tools/parse-hocon.py

Updated Faction Leveling Rewards
  island/faction_data.conf
Due: pyhocon

add a gearbox to faction rewards
  island/faction_data.conf
Due: pyhocon

accommodate factions having a list of rewards
  island/faction_data.conf
  island/factions.conf
Due: pyhocon

Update island/faction_data.conf
  island/faction_data.conf
Due: pyhocon

Adjusted Faction XP for games
  island/ace_race/ace_race_scores.conf
  island/hole_in_the_wall/hitw_scores.conf
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Fix
  island/ace_race/ace_race_scores.conf
Due: pyhocon

Format fixing
  island/ace_race/ace_race_scores.conf
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Format Fix 2
  island/ace_race/ace_race_scores.conf
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Purged code rather than comment
  island/ace_race/ace_race_scores.conf
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Correct BB Countdown
  island/battle_box/phases.conf
Due: pyhocon

Remove battle box (properly)
  island/matchmaking/game_configurations.conf
Due: pyhocon

Adjusted spacing of PKT scoreboard tags
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Adjusted PKT statistic hologram
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Updated Sparkle Trail to be an Aura
  island/items/Cosmetic Master - Master.csv
Due: none

Test tnt bow config
  island/cosmetics/gadgets/gadget_tnt_bow.conf
Due: pyhocon

Gadget configuration files
  island/cosmetics/gadgets/gadget_chicken_launcher.conf
  island/cosmetics/gadgets/gadget_fox_launcher.conf
  island/cosmetics/gadgets/gadget_tnt_bow.conf
Due: pyhocon

Enable gadgets again
  island/items/Cosmetic Master - _Gadget.csv
Due: none

Gadget Actionbar config
  island/cosmetics/gadget_actionbar.conf
Due: pyhocon

Parse as an object?
  island/cosmetics/gadget_actionbar.conf
Due: pyhocon

Fix syntax
  island/cosmetics/gadget_actionbar.conf
Due: pyhocon

Speedster Trail Config
  island/cosmetics/trails/trail_speedster.conf
Due: pyhocon

Speedster Trail Configuration
  island/cosmetics/trails/trail_speedster.conf
Due: pyhocon

Try equipping cosmetics to fake entities
  island/lobby/npc_ayano.mcc.kts
Due: ktlint

Add module imports
  island/lobby/npc_ayano.mcc.kts
Due: ktlint

Fix formatting
  island/lobby/npc_ayano.mcc.kts
Due: ktlint

Update mcc-script-cli to Java 17
  .gitlab-ci.yml
Due: prettier

Added Cuckoo to Cosmetic Master
  island/items/Cosmetic Master - Master.csv
Due: none

config update
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

Update Cosmetic Master - Master.csv
  island/items/Cosmetic Master - Master.csv
Due: none

Cosmetic Master Update
  island/items/Cosmetic Master - Master.csv
Due: none

Shuffled around PKT leaderboard holograms
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Attempted leaderboard hologram adjustment
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Added spacing between buttons
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Pushed statistic buttons back
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Shuffled around holograms
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Final hologram adjustment
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Added test map for Battlebox
  event/battle_box/maps.conf
Due: pyhocon

Making lobby furniture interactable
  island/apartments/furniture.conf
Due: pyhocon

Set some cosmetics to default
  island/items/Cosmetic Master - Master.csv
Due: none

Added a region for sky battle pyramid
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
