Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru==0.5.3
  - python .gitlab/tools/parse-hocon.py

battle box testing
  samples/battle_box.conf
Due: pyhocon

fixed equipment not being given
  island/battle_box/canal/equipment.conf
  island/battle_box/graffiti/equipment.conf
Due: pyhocon

battle box testing
  island/game_items/ball_items.conf
  island/game_items/short_timed_ball_items.conf
  island/game_items/timed_ball_items.conf
Due: pyhocon

new cosmetics
  island/cosmetics/chroma_packs.conf
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: pyhocon

sheet fix
  island/cosmetics/chroma_packs.conf
Due: pyhocon

Revert "new cosmetics"
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: none

npc updates
  island/lobby/npc_bling_king.mcc.kts
  island/lobby/npc_blockle_tea_bea.mcc.kts
  island/lobby/npc_gizmo.mcc.kts
  island/npc_types.conf
Due: ktlint, pyhocon

gadget npc fix
  island/npc_types.conf
Due: pyhocon

battle box testing
  island/game_items/timed_ball_items.conf
Due: pyhocon

battle box testing
  island/battle_box/graffiti/equipment.conf
Due: pyhocon

feature: Add biome overrides config file
  island/biome_overrides.conf
Due: pyhocon

Feature/new cosmetics
  island/cosmetics/chroma_packs.conf
  island/items/cosmetic_master_variant.csv
Due: pyhocon

Updated map config to have new Sky Battle lobby
  island/lobby_sky-battle/maps.conf
Due: pyhocon

Updated to new Sky Battle lobby
  island/lobby_sky-battle/maps.conf
Due: pyhocon

sky battle testing
  island/sky_battle/variable_loot.conf
Due: pyhocon

testing
  island/tgttos/beehive/modifiers.conf
  island/tgttos/cliff/modifiers.conf
  island/tgttos/factory/modifiers.conf
  island/tgttos/glide/modifiers.conf
  island/tgttos/mesa/modifiers.conf
  island/tgttos/pits/modifiers.conf
  island/tgttos/rounds.conf
  island/tgttos/shallow_lava/modifiers.conf
  island/tgttos/siege/modifiers.conf
  island/tgttos/skydive/modifiers.conf
  island/tgttos/skyscraper/modifiers.conf
  island/tgttos/treetop/modifiers.conf
  island/tgttos/walls/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Add meltdown telepickaxe config
  event/meltdown/telepickaxe.conf
Due: pyhocon

Renaming Config files
  island/lobby/enabled_scripts.conf
  island/lobby/npc_concert_alice.mcc.kts
  island/lobby/npc_concert_bella.mcc.kts
  island/lobby/npc_concert_brenda.mcc.kts
  island/lobby/npc_concert_kyle.mcc.kts
  island/lobby/npc_concert_louis.mcc.kts
  island/lobby/npc_concert_rachel.mcc.kts
  island/lobby/npc_friend_bessie.mcc.kts
  island/lobby/npc_friend_cree.mcc.kts
  island/lobby/npc_friend_eric.mcc.kts
  island/lobby/npc_friend_stuart.mcc.kts
  island/lobby/npc_musician_bob.mcc.kts
  island/lobby/npc_musician_meiko.mcc.kts
  island/lobby/npc_musician_sandy.mcc.kts
  island/lobby/npc_ninja_mysteriousninja.mcc.kts
  island/lobby/npc_ninja_mysteriousninja2.mcc.kts
  island/lobby/npc_ninja_mysteriousninja3.mcc.kts
  island/lobby/npc_ninja_mysteriousninja4.mcc.kts
  island/lobby/npc_ninja_mysteriousninjaprincess.mcc.kts
  island/lobby/npc_officer_dani.mcc.kts
  island/lobby/npc_officer_mark.mcc.kts
  island/lobby/npc_officer_miles.mcc.kts
  island/lobby/npc_officer_osas.mcc.kts
  island/lobby/npc_punk_doug.mcc.kts
  island/lobby/npc_punk_drew.mcc.kts
  island/lobby/npc_retro_elric.mcc.kts
  island/lobby/npc_retro_loth.mcc.kts
  island/lobby/npc_retro_pinkie.mcc.kts
  island/lobby/npc_retro_teal.mcc.kts
  island/lobby/npc_runner_charley.mcc.kts
  island/lobby/npc_runner_cori.mcc.kts
  island/lobby/npc_runner_roamy.mcc.kts
  island/lobby/npc_sport_edward.mcc.kts
  island/lobby/npc_sport_jon.mcc.kts
Due: ktlint, pyhocon

Renaming Config files
  island/lobby/enabled_scripts.conf
  island/lobby/npc_barbarian_bronan.mcc.kts
  island/lobby/npc_barbarian_galit.mcc.kts
  island/lobby/npc_barbarian_hebotai.mcc.kts
  island/lobby/npc_construction_toby.mcc.kts
  island/lobby/npc_construction_watt.mcc.kts
  island/lobby/npc_construction_witt.mcc.kts
  island/lobby/npc_construction_zach.mcc.kts
  island/lobby/npc_exercise_hassan.mcc.kts
  island/lobby/npc_exercise_leah.mcc.kts
  island/lobby/npc_exercise_mary.mcc.kts
  island/lobby/npc_exercise_nicole.mcc.kts
  island/lobby/npc_hotdog_dennis.mcc.kts
  island/lobby/npc_hotdog_frank.mcc.kts
  island/lobby/npc_hotdog_larry.mcc.kts
  island/lobby/npc_hotdog_peter.mcc.kts
Due: ktlint, pyhocon

Renaming Config files
  island/lobby/npc_blockle_tea_bea.mcc.kts
  island/lobby/npc_blockle_tea_yui.mcc.kts
  island/lobby/npc_doug_printeeno.mcc.kts
  island/lobby/npc_friend_bessie.mcc.kts
  island/lobby/npc_friend_cree.mcc.kts
  island/lobby/npc_friend_eric.mcc.kts
  island/lobby/npc_friend_stuart.mcc.kts
  island/lobby/npc_gizmo.mcc.kts
  island/lobby/npc_hotdog_larry.mcc.kts
  island/lobby/npc_jez_beffesto.mcc.kts
  island/lobby/npc_jonald_brave.mcc.kts
Due: ktlint

hitw polishing knockback
  island/hole_in_the_wall/traps/bad/eggs.conf
Due: pyhocon

hitw polishing knockback
  island/hole_in_the_wall/traps/bad/interactive/snowball_fight.conf
Due: pyhocon

Attempt to fix some config errors
  island/lobby/npc_blockle_tea_bea.mcc.kts
  island/lobby/npc_blockle_tea_yui.mcc.kts
  island/lobby/npc_doug_printeeno.mcc.kts
  island/lobby/npc_gizmo.mcc.kts
Due: ktlint

remove armor from HITW boots
  island/hole_in_the_wall/equipment.conf
Due: pyhocon

even less armor!
  island/tgttos/basins/equipment.conf
  island/tgttos/boats/equipment.conf
  island/tgttos/breakdown/equipment.conf
  island/tgttos/elytra/equipment.conf
  island/tgttos/equipment.conf
  island/tgttos/factory/equipment.conf
  island/tgttos/golf/equipment.conf
  island/tgttos/mesa/equipment.conf
  island/tgttos/pits/equipment.conf
  island/tgttos/rocket_launcher/equipment.conf
  island/tgttos/shallow_lava/equipment.conf
  island/tgttos/skydive/equipment.conf
  island/tgttos/skyscraper/equipment.conf
  island/tgttos/terra_swoop_force/equipment.conf
  island/tgttos/walls/equipment.conf
Due: pyhocon

EVEN LESS ARMOR
  island/parkour_tag/equipment.conf
  island/parkour_tag/quad/equipment.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
