Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru==0.5.3
  - python .gitlab/tools/parse-hocon.py

Moved Gizmo's position slightly
  island/lobby/npc_gizmo.mcc.kts
Due: ktlint

Tweaks to cosmetic Master
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: none

Set ranked particles active
  island/items/cosmetic_master_base.csv
Due: none

Changed Cosmetic ID of ranked particles
  island/items/cosmetic_master_base.csv
Due: none

Add chest marker
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Only run on production
  .gitlab-ci.yml
Due: prettier

Notify Creatorbash
  .gitlab-ci.yml
Due: prettier

Remove event notification
  .gitlab-ci.yml
Due: prettier

Whoops, re-add event
  .gitlab-ci.yml
Due: prettier

Make chests rotatable and add config for variable loot
  compass/worlds/event/sky_battle.conf
  island/sky_battle/variable_loot.conf
Due: pyhocon

Disable non-wires maps for testing
  samples/sky_battle.conf
Due: pyhocon

Move SBA chest to island
  compass/worlds/event/sky_battle.conf
  compass/worlds/island/games/sky_battle.conf
Due: pyhocon

Add Sky Battle podiums
  compass/worlds/island/games/sky_battle.conf
Due: pyhocon

Include SBA podiums in map
  island/sky_battle/maps.conf
Due: pyhocon

Include podium in SBA card
  compass/cards/island/sky_battle.json
Due: prettier

Add PT equipment file
  island/parkour_tag/quad/equipment.conf
Due: pyhocon

Updated Master Sheet with faction naming conventions
  island/items/cosmetic_master_base.csv
  island/items/cosmetic_master_variant.csv
Due: none

Updated faction rewards
  island/factions.conf
Due: pyhocon

battle box - increased timed ball timer
  island/battle_box/items/timed_ball_items.conf
Due: pyhocon

battle box testing
  island/battle_box/items/timed_ball_items.conf
Due: pyhocon

battle box testing
  island/battle_box/items/ball_items.conf
  island/battle_box/items/timed_ball_items.conf
Due: pyhocon

battle box testing
  island/battle_box/train/kits.conf
  samples/battle_box.conf
Due: pyhocon

battle box testing
  island/battle_box/canal/kits.conf
Due: pyhocon

battle box testing
  samples/battle_box.conf
Due: pyhocon

fix
  island/battle_box/train/kits.conf
Due: pyhocon

battle box testing
  island/battle_box/canal/kits.conf
  island/battle_box/items/ball_items.conf
  island/battle_box/items/spark_items.conf
Due: pyhocon

Added a delay
  island/battle_box/items/ball_items.conf
Due: pyhocon

battle box testing
  island/battle_box/items/spark_items.conf
Due: pyhocon

harm test
  island/battle_box/items/ball_items.conf
Due: pyhocon

battle box items
  island/battle_box/items/spark_items.conf
Due: pyhocon

change
  island/battle_box/items/timed_ball_items.conf
Due: pyhocon

chicken npc test
  island/lobby/enabled_scripts.conf
  island/lobby/npc_chicken_arms.mcc.kts
  island/lobby/npc_chicken_head.mcc.kts
Due: ktlint, pyhocon

fix kts file
  island/lobby/npc_chicken_arms.mcc.kts
  island/lobby/npc_chicken_head.mcc.kts
Due: ktlint

fix npc
  island/lobby/npc_chicken_head.mcc.kts
Due: ktlint

npc fix
  island/lobby/npc_chicken_head.mcc.kts
Due: ktlint

chicken npc update
  island/lobby/npc_chicken_arms.mcc.kts
  island/lobby/npc_chicken_head.mcc.kts
Due: ktlint

impact dmg + impacg kb
  island/battle_box/items/ball_items.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
