Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - upload
    - deploy

prettier:
    stage: lint
    image: node:15.4.0-alpine
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    script:
        - yarn global add prettier
        - prettier -c .

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/.ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/.pyhocon.sh

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/fs2consulkv:master-5cb065cccf7422fe56f3526fceace7a4cf44e2a7
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/.consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --skip-prompt

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: upload
    extends: [.kube_env_dev, .upload_consul]

upload_consul_ptr:
    stage: upload
    extends: [.kube_env_ptr, .upload_consul]

Update furniture.conf
  island/apartments/furniture.conf
Due: pyhocon

Add holograms for play kiosks in hitw lobby
  island/lobby_hitw/holograms.conf
Due: pyhocon

Shut up the hitw lobby guy
  island/lobby_hitw/npc_hitw.mcc.kts
Due: ktfmt

fix hologram coord
  island/lobby_hitw/holograms.conf
Due: pyhocon

Edit kiosk hologram placements
  island/lobby_hitw/holograms.conf
Due: pyhocon

Fix hologram coords
  island/lobby_hitw/holograms.conf
Due: pyhocon

Add kiosks as furniture
  island/apartments/furniture.conf
Due: pyhocon

add hitwplay interaction
  island/apartments/furniture.conf
Due: pyhocon

Move the hitw npc
  island/lobby_hitw/npc_hitw.mcc.kts
Due: ktfmt

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
Due: pyhocon

Island: Change TGTTOS tutorial
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Fix TGTTOS tutorial script
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Island: Update HITW and TGTTOS tutorial script
  island/hole_in_the_wall/tutorial.mcc.kts
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Island: Update HITW and TGTTOS tutorial script
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
Due: pyhocon

add modifier titles
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

add modifier titles but correctly this time
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

add modifier titles but correctly this time, but actually working this time
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

add modifier titles but correctly this time, but actually working this time, but this time for real
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

Feature/modifiers
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_weekly.conf
Due: pyhocon

Show game title in tutorial
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

Update the HITW tutorial
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

Fix the sound key for platform shrinking
  island/hole_in_the_wall/platform_controller.conf
Due: pyhocon

Add NPC types and example NPC
  island/lobby_hitw/npc_type_example.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Add example NPC to enabled scripts
  island/lobby_hitw/enabled_scripts.conf
Due: pyhocon
