Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

prettier:
  stage: lint
  image: node:15.4.0-alpine
  script:
  - yarn global add prettier
  - prettier -c .

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/.ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/.pyhocon.sh

Woops
  island/npc_types.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
Due: pyhocon

Altered chat bubble ratio and added new dialogue for faction selector
  island/lobby/npc_join_faction.mcc.kts
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt

faction npc name change
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

text placement error fix
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Fix the faction NPC
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Added 4 npcs, changed npc name color to match chat
  island/lobby/npc_belik_hoppington.mcc.kts
  island/lobby/npc_captain_panic.mcc.kts
  island/lobby/npc_melly_voyage.mcc.kts
  island/lobby/npc_vin_petrol.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Revert "Added 4 npcs, changed npc name color to match chat"
  island/lobby/npc_belik_hoppington.mcc.kts
  island/lobby/npc_captain_panic.mcc.kts
  island/lobby/npc_melly_voyage.mcc.kts
  island/lobby/npc_vin_petrol.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon

Deleted test NPCs, modified vin petrol
  island/lobby/npc_belik_hoppington.mcc.kts
  island/lobby/npc_captain_panic.mcc.kts
  island/lobby/npc_melly_voyage.mcc.kts
  island/lobby/npc_vin_petrol.kts
  island/lobby/npc_vin_petrol.mcc.kts
Due: ktfmt

vin petrol skin update
  island/lobby/npc_vin_petrol.kts
Due: ktfmt

enabled vin petrol
  island/lobby/enabled_scripts.conf
Due: pyhocon

added .mcc extension to vin petrol
  island/lobby/npc_vin_petrol.mcc.kts
Due: ktfmt

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_weekly.conf
Due: pyhocon

Update furniture.conf
  island/apartments/furniture.conf
Due: pyhocon

Add effect trap configs
  island/hole_in_the_wall/trap_blindness_effect.conf
  island/hole_in_the_wall/trap_nausea_effect.conf
  island/hole_in_the_wall/trap_speed_effect.conf
Due: pyhocon

Add mob configs + slowness config
  island/hole_in_the_wall/trap_slimes.conf
  island/hole_in_the_wall/trap_slowness_effect.conf
  island/hole_in_the_wall/trap_snowmen.conf
  island/hole_in_the_wall/trap_villagers.conf
  island/hole_in_the_wall/trap_zombies.conf
Due: pyhocon

SLOWNESS -> SLOW
  island/hole_in_the_wall/trap_slowness_effect.conf
Due: pyhocon

Update faction rewards
  island/faction_data.conf
Due: pyhocon

whoops
  .gitlab/tools/compile-scripts.sh
Due: none

Add mcc-script-cli
  .gitignore
  .gitlab-ci.yml
  .gitlab/tools/compile-scripts.sh
Due: prettier

Alternative way of deleting bytecode files
  .gitlab-ci.yml
Due: prettier

Add pull cache to upload_consul stages
  .gitlab-ci.yml
Due: prettier

Don't remove the original bytecode file for caching
  .gitlab/tools/compile-scripts.sh
Due: none

Retain new lines
  .gitlab-ci.yml
Due: prettier

zstd compression
  .gitlab-ci.yml
  .gitlab/tools/compile-scripts.sh
Due: prettier

Update mcc-script-cli
  .gitlab-ci.yml
Due: prettier

master -> main
  .gitlab-ci.yml
Due: prettier

Fix duplicate string removal
  .gitlab/tools/compile-scripts.sh
Due: none

Force overwriting zstd files
  .gitlab/tools/compile-scripts.sh
Due: none

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
