Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru=0.5.3
  - python .gitlab/tools/parse-hocon.py

Small Cosmetic Master adjustment
  island/items/Cosmetic Master - Master.csv
Due: none

Add default kits.conf
  island/battle_box/kits.conf
Due: pyhocon

Adjust prep phase time
  island/battle_box/phases.conf
Due: pyhocon

Adjust countdown phase
  island/battle_box/phases.conf
Due: pyhocon

Adjust preRound phase
  island/battle_box/phases.conf
Due: pyhocon

Shifted some cosmetics to shards
  island/items/Cosmetic Master - Master.csv
Due: none

Added Santa's Sleigh to battlebox map pool
  event/battle_box/maps.conf
Due: pyhocon

Battlebox Config - Removed apostrophe
  event/battle_box/maps.conf
Due: pyhocon

Moved Tammy
  island/lobby/npc_tammy.mcc.kts
Due: ktlint

Changed Elle's skin
  island/lobby/npc_elle.mcc.kts
Due: ktlint

Replaced Salt's Skin
  island/lobby/npc_salt.mcc.kts
Due: ktlint

HITW Lobby NPCs
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/npc_jumper.mcc.kts
  island/lobby_hitw/npc_plat.mcc.kts
  island/lobby_hitw/npc_slimey.mcc.kts
  island/lobby_hitw/npc_wallace.mcc.kts
Due: ktlint, pyhocon

Added some TGTTOS lobby NPCs
  island/lobby_tgttos/enabled_scripts.conf
  island/lobby_tgttos/npc_charon.mcc.kts
  island/lobby_tgttos/npc_oscar.mcc.kts
Due: ktlint, pyhocon

Adjusted HITW robot pathing
  island/lobby_hitw/npc_jumper.mcc.kts
  island/lobby_hitw/npc_slimey.mcc.kts
Due: ktlint

Configuration for boxes
  island/cosmetics/parts.conf
Due: pyhocon

add cmd
  island/cosmetics/parts.conf
Due: pyhocon

string -> int
  island/cosmetics/parts.conf
Due: pyhocon

Correct box numbers
  island/cosmetics/parts.conf
Due: pyhocon

name -> id and remove translations
  island/cosmetics/parts.conf
Due: pyhocon

Move parts config
  island/cosmetics/parts.conf
Due: pyhocon

Initial config for parts needed to unlock a cosmetic
  island/cosmetic_parts.conf
Due: pyhocon

Add number of draws for each box type
  island/cosmetics/parts.conf
Due: pyhocon

Adjusted HITW Lobby NPCs
  island/lobby_hitw/npc_jumper.mcc.kts
  island/lobby_hitw/npc_slimey.mcc.kts
Due: ktlint

HITW NPC Positions
  island/lobby_hitw/npc_jumper.mcc.kts
  island/lobby_hitw/npc_slimey.mcc.kts
Due: ktlint

Shifted HITW NPC over
  island/lobby_hitw/npc_plat.mcc.kts
Due: ktlint

MCC 19 Grid Runners
  compass/cards/event/grid_runners.json
  event/grid_runners/maps.conf
Due: prettier, pyhocon

Updated GR preset to MCC19
  compass/cards/event/grid_runners.json
Due: prettier

Changed breakable blocks for room yuleshave
  event/grid_runners/room/building/yuleshave/breakable_blocks.conf
  event/grid_runners/room/building/yuleshave/equipment.conf
  event/grid_runners/room/building/yuleshave/placeable_blocks.conf
Due: pyhocon

Updated house search winter breakables
  event/grid_runners/room/building/house_search_winter/breakable_blocks.conf
  event/grid_runners/room/building/house_search_winter/equipment.conf
Due: pyhocon

Moved bakery in room order
  compass/cards/event/grid_runners.json
Due: prettier

Enabled bakery_winter in grid runners
  compass/cards/event/grid_runners.json
Due: prettier

Added kitchen_winter to gr rooms
  compass/cards/event/grid_runners.json
Due: prettier

Changed naming scheme for bakery
  compass/cards/event/grid_runners.json
Due: prettier

Rename shards to parts
  island/items/Cosmetic Master - Master.csv
Due: none

Island: Add parkour tag files
  compass/cards/island/parkour_tag.json
  compass/worlds/island/games/parkour_tag.conf
Due: prettier, pyhocon

Island: Add parkour tag files
  compass/worlds/island/games/parkour_tag.conf
Due: pyhocon

Fix
  compass/worlds/island/games/parkour_tag.conf
Due: pyhocon

Island: Parkour Tag Files
  compass/worlds/island/games/parkour_tag.conf
  island/parkour_tag/equipment.conf
  island/parkour_tag/maps.conf
  island/parkour_tag/phases.conf
  samples/parkour_tag.conf
Due: pyhocon

Correct PT files
  compass/worlds/island/games/parkour_tag.conf
  island/parkour_tag/maps.conf
  island/parkour_tag/rounds.conf
Due: pyhocon

Correct PT podium placement
  compass/worlds/island/games/parkour_tag.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
