Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

compile_scripts:
  stage: compile
  image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
  script:
  - ./.gitlab/tools/compile-scripts.sh
  cache:
  - key: $CI_COMMIT_BRANCH
    paths:
    - compiled/

fix gimbzo's file extension
  island/lobby/npc_gimbzo_toktorc.mcc.kts
Due: ktfmt, compile_scripts

re-add particlestore
  island/lobby/enabled_scripts.conf
  island/lobby/npc_weezoo.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

add bling king
  island/lobby/enabled_scripts.conf
  island/lobby/npc_bling_king.mcc.kts
  island/lobby/npc_gimbzo_toktorc.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Add gadget descriptions etc
  island/items/Cosmetic_Master_Gadget.csv
Due: none

Move weezoo
  island/lobby/npc_weezoo.mcc.kts
Due: ktfmt, compile_scripts

Update rotations [NetworkCron]
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Updated Furniture CSV (Props)
  island/items/Furniture_Master_Prop.csv
Due: none

Fix resource pack refs for cosmetics
  island/cosmetics/hair_cosmetics.conf
  island/cosmetics/head_cosmetics.conf
Due: pyhocon

Add abovename example
  island/lobby/npc_gimbzo_toktorc.mcc.kts
Due: ktfmt, compile_scripts

add gadgets above gimbzo
  island/lobby/npc_gimbzo_toktorc.mcc.kts
Due: ktfmt, compile_scripts

Revert "Fix resource pack refs for cosmetics"
  island/cosmetics/hair_cosmetics.conf
  island/cosmetics/head_cosmetics.conf
Due: pyhocon

More traps, new config structure for traps
  island/hole_in_the_wall/trap_blindness_effect.conf
  island/hole_in_the_wall/trap_bomb_squad.conf
  island/hole_in_the_wall/trap_im_glowing.conf
  island/hole_in_the_wall/trap_slowness_effect.conf
  island/hole_in_the_wall/trap_where_am_i.conf
  island/hole_in_the_wall/traps/bad/arrow_storm.conf
  island/hole_in_the_wall/traps/bad/effect/getting_dizzy.conf
  island/hole_in_the_wall/traps/bad/effect/leg_day.conf
  island/hole_in_the_wall/traps/bad/effect/molasses.conf
  island/hole_in_the_wall/traps/bad/effect/my_eyes.conf
  island/hole_in_the_wall/traps/bad/effect/springy_shoes.conf
  island/hole_in_the_wall/traps/bad/effect/super_speed.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/bad/mob/bomb_squad.conf
  island/hole_in_the_wall/traps/bad/mob/creepy_crawlies.conf
  island/hole_in_the_wall/traps/bad/mob/hoglin.conf
  island/hole_in_the_wall/traps/bad/mob/hot_revenge.conf
  island/hole_in_the_wall/traps/bad/mob/mummy.conf
  island/hole_in_the_wall/traps/bad/mob/pillagers.conf
  island/hole_in_the_wall/traps/bad/mob/ravager.conf
  island/hole_in_the_wall/traps/bad/mob/revenge.conf
  island/hole_in_the_wall/traps/bad/mob/silverfish.conf
  island/hole_in_the_wall/traps/bad/mob/so_lonely.conf
  island/hole_in_the_wall/traps/bad/snowball_fight.conf
  island/hole_in_the_wall/traps/neutral/effect/low_gravity.conf
  island/hole_in_the_wall/traps/neutral/mob/chicken_tornado.conf
  island/hole_in_the_wall/traps/neutral/mob/hmm.conf
  island/hole_in_the_wall/traps/neutral/mob/jack_frost.conf
  island/hole_in_the_wall/traps/neutral/mob/swimmy_fish.conf
Due: pyhocon

Slower slowness
  island/hole_in_the_wall/traps/bad/effect/molasses.conf
Due: pyhocon

Add new file
  island/hole_in_the_wall/trap_im_glowing.conf
Due: pyhocon

fix mob amounts
  island/hole_in_the_wall/traps/bad/mob/bomb_squad.conf
  island/hole_in_the_wall/traps/bad/mob/creepy_crawlies.conf
  island/hole_in_the_wall/traps/bad/mob/hoglin.conf
  island/hole_in_the_wall/traps/bad/mob/hot_revenge.conf
  island/hole_in_the_wall/traps/bad/mob/mummy.conf
  island/hole_in_the_wall/traps/bad/mob/pillagers.conf
  island/hole_in_the_wall/traps/bad/mob/ravager.conf
  island/hole_in_the_wall/traps/bad/mob/revenge.conf
  island/hole_in_the_wall/traps/bad/mob/silverfish.conf
  island/hole_in_the_wall/traps/bad/mob/so_lonely.conf
Due: pyhocon

Add new file
  island/hole_in_the_wall/trap_where_am_i.conf
Due: pyhocon

Make projectile storms larger
  island/hole_in_the_wall/traps/bad/arrow_storm.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/neutral/mob/chicken_tornado.conf
Due: pyhocon

more crawlies, more creepy
  island/hole_in_the_wall/traps/bad/mob/creepy_crawlies.conf
Due: pyhocon

lower bomb squad height
  island/hole_in_the_wall/traps/bad/mob/bomb_squad.conf
Due: pyhocon

Add new file
  island/hole_in_the_wall/trap_low_gravity.conf
Due: pyhocon

Update trap_bomb_squad.conf
  island/hole_in_the_wall/trap_bomb_squad.conf
Due: pyhocon

more traps yay
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/bad/sandfall.conf
Due: pyhocon

bomb squad will not throw you across the universe any longer
  island/hole_in_the_wall/traps/bad/mob/bomb_squad.conf
Due: pyhocon

Fix gadgets
  island/items/Cosmetic Master - Gadget.csv
  island/items/Cosmetic_Master_Gadget.csv
Due: none

More HITW traps
  island/hole_in_the_wall/traps/bad/arrow_storm.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/bad/mob/aw_man.conf
  island/hole_in_the_wall/traps/bad/mob/bomb_squad.conf
  island/hole_in_the_wall/traps/bad/mob/feeling_hot.conf
  island/hole_in_the_wall/traps/bad/mob/hoglin.conf
  island/hole_in_the_wall/traps/bad/mob/hot_revenge.conf
  island/hole_in_the_wall/traps/bad/mob/mummy.conf
  island/hole_in_the_wall/traps/bad/mob/ravager.conf
  island/hole_in_the_wall/traps/bad/mob/revenge.conf
  island/hole_in_the_wall/traps/bad/mob/so_lonely.conf
  island/hole_in_the_wall/traps/bad/mob/spooky_ghosts.conf
  island/hole_in_the_wall/traps/bad/sandfall.conf
  island/hole_in_the_wall/traps/neutral/mob/chicken_tornado.conf
Due: pyhocon

HITW Trap Balancing
  island/hole_in_the_wall/traps/bad/arrow_storm.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/bad/mob/creepy_crawlies.conf
  island/hole_in_the_wall/traps/neutral/mob/chicken_tornado.conf
Due: pyhocon

Add last traps
  island/hole_in_the_wall/traps/bad/hot_coals.conf
  island/hole_in_the_wall/traps/bad/sticky_shoes.conf
Due: pyhocon

Disable player targetting with swimmy fish trap
  island/hole_in_the_wall/traps/neutral/mob/swimmy_fish.conf
Due: pyhocon

Update feeling hot trap
  island/hole_in_the_wall/traps/bad/mob/feeling_hot.conf
Due: pyhocon

HITW trap balancing
  island/hole_in_the_wall/traps/bad/arrow_storm.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
  island/hole_in_the_wall/traps/bad/matrix.conf
  island/hole_in_the_wall/traps/bad/sandfall.conf
  island/hole_in_the_wall/traps/neutral/mob/chicken_tornado.conf
Due: pyhocon

Update eggs.conf
  island/hole_in_the_wall/traps/bad/eggs.conf
Due: pyhocon

Update feeling_hot.conf
  island/hole_in_the_wall/traps/bad/mob/feeling_hot.conf
Due: pyhocon

Added comma
  island/cosmetics/head_cosmetics.conf
Due: pyhocon

Added Goggles
  island/cosmetics/head_cosmetics.conf
Due: pyhocon

Updated Shop Items
  island/items/Cosmetic Master - Hat.csv
  island/items/Cosmetic_Master_Head.csv
  island/items/Furniture_Master - Master.csv
  island/items/Furniture_Master_Beds.csv
  island/items/Furniture_Master_Door.csv
  island/items/Furniture_Master_Posters.csv
  island/items/Furniture_Master_Prop.csv
  island/items/Furniture_Master_Seating.csv
  island/items/Furniture_Master_Surface.csv
  island/items/Furniture_Master_Window.csv
Due: none

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
  compile_scripts: any of: **/*.mcc.kts
