Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

compile_scripts:
  stage: compile
  image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
  script:
  - ./.gitlab/tools/compile-scripts.sh
  cache:
  - key: $CI_COMMIT_BRANCH
    paths:
    - compiled/

Always compile scripts
  .gitlab-ci.yml
Due: prettier

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Fix item ids again
  island/items/Furniture_Master_Seating.csv
Due: none

Added Colors to all Seating
  island/apartments/furniture.conf
  island/items/.vs/VSWorkspaceState.json
  island/items/.vs/items/v16/.suo
  island/items/.vs/slnx.sqlite
Due: prettier, pyhocon

Ignore .vs
  .gitignore
  island/items/.vs/VSWorkspaceState.json
  island/items/.vs/items/v16/.suo
  island/items/.vs/slnx.sqlite
Due: prettier

change assetid to modeloverride
  island/apartments/furniture.conf
Due: pyhocon

Add pretty uppy lady
  island/lobby/enabled_scripts.conf
  island/lobby/npc_pretty_uppy_lady.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

add coordinates
  island/lobby/npc_pretty_uppy_lady.mcc.kts
Due: ktfmt, compile_scripts

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Added Hair cosmetics config
  island/cosmetics/hair_cosmetics.conf
  island/cosmetics/head_cosmetics.conf
Due: pyhocon

Remove duplicate anime hair entry
  island/cosmetics/hair_cosmetics.conf
Due: pyhocon

Adjusted Furniture Sitting Offset
  island/apartments/furniture.conf
Due: pyhocon

add shop
  island/lobby/npc_pretty_uppy_lady.mcc.kts
Due: ktfmt, compile_scripts

Update mcc-script-cli
  .gitlab-ci.yml
Due: prettier

fix
  island/lobby/npc_pretty_uppy_lady.mcc.kts
Due: ktfmt, compile_scripts

Updated Trail CSV
  island/items/Cosmetic_Master_Trail.csv
Due: none

Added Music furniture to Config
  island/apartments/furniture.conf
Due: pyhocon

Attempted merge fix
  island/apartments/furniture.conf
Due: pyhocon

Updated Prop CSV
  island/items/Furniture_Master_Prop.csv
Due: none

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_weekly.conf
Due: pyhocon

Adjusted Color Values
  island/apartments/furniture.conf
Due: pyhocon

Added Stores
  island/apartments/furniture.conf
  island/lobby/npc_gimbzo_toktorc.kts
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Updated CSVs
  island/items/Cosmetic_Master_Gadget.csv
  island/items/Cosmetic_Master_Head.csv
  island/items/Furniture_Master_Prop.csv
Due: none

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/gadgetStore_weekly.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Adjusted NPC positions
  island/lobby/enabled_scripts.conf
  island/lobby/npc_gimbzo_toktorc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Repositioned NPCs
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt, compile_scripts

Add icon ids to all haircuts
  island/items/Cosmetic_Master_Head.csv
  island/items/Cosmetic_Master_Trail.csv
Due: none

Move Gimbzo
  island/lobby/npc_gimbzo_toktorc.kts
Due: ktfmt

Give Gimbzo a skin
  island/lobby/npc_gimbzo_toktorc.kts
Due: ktfmt

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
  compile_scripts: any of: **/*.mcc.kts
