Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily12.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Add ids to battle box hats
  compass/worlds/event/battle_box.conf
Due: pyhocon

Change hub hat amount constraint
  compass/worlds/event/battle_box.conf
Due: pyhocon

Expand BB map ref area
  compass/worlds/event/battle_box.conf
Due: pyhocon

Tweak BB config more
  compass/worlds/event/battle_box.conf
Due: pyhocon

Typo
  compass/worlds/event/battle_box.conf
Due: pyhocon

Make SBA teams have numbers
  compass/worlds/event/battle_box.conf
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Fix hocon format
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Ace Race should have three laps
  island/ace_race/checkpoints.conf
Due: pyhocon

Enabled Citymonstret NPC
  island/lobby/enabled_scripts.conf
Due: pyhocon

Corrected Typo
  island/lobby/enabled_scripts.conf
Due: pyhocon

Fix BB match spawnpoint type
  compass/worlds/event/battle_box.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/musicStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Add in BB assembler
  compass/cards/event/battle_box.json
Due: prettier

Add SBA and BB maps to config
  event/battle_box/maps.conf
  event/sky_battle/maps.conf
Due: pyhocon

Add a camera anchor to SBA
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Small NPC Adjustments
  island/lobby/npc_blockax.mcc.kts
  island/lobby/npc_griff.mcc.kts
  island/lobby/npc_jordan.mcc.kts
  island/lobby/npc_pinkie.mcc.kts
  island/lobby/npc_sven.mcc.kts
Due: ktfmt

Add garbage files for testing
  test1.txt
  test2.txt
Due: none

Use development version of fs2consulkv and delete garbage files
  .gitlab-ci.yml
  test1.txt
  test2.txt
Due: prettier

Add --sync flag, add garbage files for testing & remove old diff system
  .gitlab-ci.yml
  .gitlab/tools/consul-diff.sh
  test.txt
  testymctestface.txt
Due: prettier

Update fs2consulkv
  .gitlab-ci.yml
Due: prettier

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
