Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

compile_scripts:
  stage: compile
  image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-ec6812c3335329efa5071af588ddaee58ca22ac1
  script:
  - ./.gitlab/tools/compile-scripts.sh
  cache:
  - key: $CI_COMMIT_BRANCH
    paths:
    - compiled/

Furniture Config Update
  island/apartments/furniture.conf
Due: pyhocon

Adjusted Comments
  island/apartments/furniture.conf
Due: pyhocon

Removed Comments
  island/apartments/furniture.conf
Due: pyhocon

Removed final Comma
  island/apartments/furniture.conf
Due: pyhocon

Reduced Quantity of changes
  island/apartments/furniture.conf
Due: pyhocon

Re-Added additional content
  island/apartments/furniture.conf
Due: pyhocon

Removed sittingOffset
  island/apartments/furniture.conf
Due: pyhocon

Adding things one at a time
  island/apartments/furniture.conf
Due: pyhocon

Test Comment & Armchair
  island/apartments/furniture.conf
Due: pyhocon

Fixed Error
  island/apartments/furniture.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_weekly.conf
Due: pyhocon

Add new file
  island/hole_in_the_wall/trap_snowball_fight.conf
Due: pyhocon

Add new file
  island/hole_in_the_wall/trap_bomb_squad.conf
Due: pyhocon

Update trap_bomb_squad.conf
  island/hole_in_the_wall/trap_bomb_squad.conf
Due: pyhocon

Added colors to Furniture Config
  island/apartments/.vs/slnx.sqlite
  island/apartments/furniture.conf
Due: pyhocon

Removed optional file
  island/apartments/.vs/slnx.sqlite
Due: none

Actually Removed File
  island/apartments/.vs/slnx.sqlite
Due: none

Update mcc-script-cli
  .gitlab-ci.yml
Due: prettier

Update mcc_script_cli
  .gitlab-ci.yml
Due: prettier

Furniture Seating CSV
  island/items/Furniture_Master_Seating.csv
Due: none

Added colors to Furniture Config
  island/apartments/.vs/slnx.sqlite
Due: none

Fix item ids
  island/items/Furniture_Master_Seating.csv
Due: none

fix more item ids
  island/items/Furniture_Master_Seating.csv
Due: none

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
  compile_scripts: any of: **/*.mcc.kts
