Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - upload
    - deploy

prettier:
    stage: lint
    image: node:15.4.0-alpine
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    script:
        - yarn global add prettier
        - prettier -c .

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/.ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/.pyhocon.sh

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/fs2consulkv:master-5cb065cccf7422fe56f3526fceace7a4cf44e2a7
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/.consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --skip-prompt

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: upload
    extends: [.kube_env_dev, .upload_consul]

upload_consul_ptr:
    stage: upload
    extends: [.kube_env_ptr, .upload_consul]

Island HITW: Add missing configs
  island/hole_in_the_wall/elimination_plane.conf
  island/hole_in_the_wall/equipment.conf
  island/hole_in_the_wall/hitw_scores.conf
  island/hole_in_the_wall/island_elimination_game.conf
  island/hole_in_the_wall/maps.conf
  island/hole_in_the_wall/wall_controller.conf
  island/hole_in_the_wall/wall_phase_prevention.conf
  island/hole_in_the_wall/wall_type_sike.conf
Due: pyhocon

Island HITW: Fix the compass config
  compass/island_hitw.json
Due: prettier

Island HITW: Adjust wall settings
  island/hole_in_the_wall/wall_controller.conf
  island/hole_in_the_wall/wall_phase_prevention.conf
Due: pyhocon

Island HITW: Adjust wall settings
  island/hole_in_the_wall/wall_phase_prevention.conf
Due: pyhocon

Add .gitignore
  .gitignore
Due: none

Add server portals to the island lobby
  compass/island_lobby.json
Due: prettier

Island HITW: Make walls go wroom
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Feature/island hitw
  island/hole_in_the_wall/elimination_plane.conf
Due: pyhocon

Add test npc
  island/lobby/npcs.mcc.kts
Due: ktfmt

Fix broken skin
  island/lobby/npcs.mcc.kts
Due: ktfmt

Update npcs.mcc.kts
  island/lobby/npcs.mcc.kts
Due: ktfmt

Added Tom's test NPC
  island/lobby/npcs.mcc.kts
Due: ktfmt

Revert "Added Tom's test NPC"
  island/lobby/npcs.mcc.kts
Due: ktfmt

Fixed skin and coordinates for tom's test npc
  island/lobby/npcs.mcc.kts
Due: ktfmt

Lightly adjusted coordinates for test NPC
  island/lobby/npcs.mcc.kts
Due: ktfmt

Added missing decimal value which broke all NPCs
  island/lobby/npcs.mcc.kts
Due: ktfmt

Tax Man Npc
  island/lobby/npcs.mcc.kts
Due: ktfmt

Revert "Tax Man Npc"
  island/lobby/npcs.mcc.kts
Due: ktfmt

Re-Enable roaming to test deadlock
  island/lobby/npcs.mcc.kts
Due: ktfmt

Revert "Re-Enable roaming to test deadlock"
  island/lobby/npcs.mcc.kts
Due: ktfmt

Created Tax Man
  island/lobby/npcs.mcc.kts
Due: ktfmt

Adjustments to position
  island/lobby/npcs.mcc.kts
Due: ktfmt

Island HITW: Add the overview phase
  island/hole_in_the_wall/camera_path.conf
  island/hole_in_the_wall/enabled_scripts.conf
  island/hole_in_the_wall/phases.conf
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt, pyhocon

Island HITW: Adjust wall speed
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Fix/npc deadlock
  island/lobby/npcs.mcc.kts
Due: ktfmt

Revert "Fix/npc deadlock"
  island/lobby/npcs.mcc.kts
Due: ktfmt

Re-enable roaming to test
  island/lobby/npcs.mcc.kts
Due: ktfmt

Revert "Re-enable roaming to test"
  island/lobby/npcs.mcc.kts
Due: ktfmt

Re-enable roaming for testing
  island/lobby/npcs.mcc.kts
Due: ktfmt

Revert "Re-enable roaming for testing"
  island/lobby/npcs.mcc.kts
Due: ktfmt

- Each NPC has a file - Add skin test NPC
  island/lobby/enabled_scripts.conf
  island/lobby/npc_hitw.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_join_faction.mcc.kts
  island/lobby/npc_skin_test.mcc.kts
  island/lobby/npcs.mcc.kts
Due: ktfmt, pyhocon

Comment out lines
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt

Feature/skull emoji
  island/faces.conf
Due: pyhocon

Add patrol
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt

Island HITW: Adjust tutorial script
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

Add yaw to patrol
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt
