Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - prepare
    - deploy
    - delete

prettier:
    stage: prepare
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: prepare
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: prepare
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.58
        - pip install loguru==0.5.3
        - python .gitlab/tools/parse-hocon.py

compile_scripts:
    stage: prepare
    image: harbor.services.noxcrew.online/mcc/mcc-script-cli:940e017616f716b28bc574cd2eecb1cd8ce98077
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"
        policy: pull

.kube_env_dev:
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_ptr:
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_prod:
    environment:
        name: production-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

#upload_consul_ptr:
#    stage: deploy
#    extends: [.kube_env_ptr, .upload_consul]
#    only:
#        - main
#        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

delete_consul_dev:
    extends: .kube_env_dev
    dependencies: []
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    stage: delete
    when: manual
    variables:
        GIT_STRATEGY: none
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" -recurse configuration/"$CI_COMMIT_BRANCH"
    except:
      - main
      - master
      - develop

Work around for compass 2 issue
  compass/cards/island/parkour_tag_quad.json
  compass/worlds/island/games/parkour_tag_quad.conf
Due: prettier, pyhocon

Set up rocket spleef rush configs
  compass/cards/event/rocket_spleef_rush.json
  compass/worlds/event/rocket_spleef_rush.conf
Due: prettier, pyhocon

Update rocket spleef map
  event/rocket_spleef/maps.conf
Due: pyhocon

move hitw lobby statistic hologram
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

move hitw lobby stat holo
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Update statistic_holograms.conf
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

feature: Add streak and win rate statistics
  island/lobby_hitw/statistic_holograms.conf
  island/lobby_parkour-tag/statistic_holograms.conf
  island/lobby_tgttos/statistic_holograms.conf
Due: pyhocon

Added a few cosmetics to ambient NPCs
  island/lobby/npc_elric.mcc.kts
  island/lobby/npc_loth.mcc.kts
  island/lobby/npc_pinkie.mcc.kts
  island/lobby/npc_teal.mcc.kts
Due: ktlint

Feature/aledet
  island/lobby/npc_pinkie.mcc.kts
  island/lobby/npc_teal.mcc.kts
Due: ktlint

Add color example to Loth NPC
  island/lobby/npc_loth.mcc.kts
Due: ktlint

Recoloring NPC Cosmetics
  island/lobby/npc_aaron.mcc.kts
  island/lobby/npc_gary.mcc.kts
  island/lobby/npc_kenneth_paltro.mcc.kts
  island/lobby/npc_noah.mcc.kts
  island/lobby/npc_pip_squeekers.mcc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/lobby/npc_teal.mcc.kts
  island/lobby/npc_trashman.mcc.kts
Due: ktlint

Adjustments to NPC colors
  island/lobby/npc_loth.mcc.kts
  island/lobby/npc_pip_squeekers.mcc.kts
  island/lobby/npc_teal.mcc.kts
Due: ktlint

Changed NPC colors; added cosmetics
  island/lobby/npc_berry.mcc.kts
  island/lobby/npc_brother_brine.mcc.kts
  island/lobby/npc_henry_lee.mcc.kts
  island/lobby/npc_pip_squeekers.mcc.kts
  island/lobby/npc_sarah_olivia.mcc.kts
  island/lobby/npc_shadydan.mcc.kts
  island/lobby/npc_teal.mcc.kts
  island/lobby/npc_vi.mcc.kts
Due: ktlint

Removed hair from two NPCs
  island/lobby/npc_henry_lee.mcc.kts
  island/lobby/npc_sarah_olivia.mcc.kts
Due: ktlint

Lowered Sleeping Bag's sitting offset
  island/apartments/furniture.conf
Due: pyhocon

Added config for achievements
  island/achievements.conf
Due: pyhocon

Update meltdown map
  event/meltdown/maps.conf
Due: pyhocon

Fix lobby pipe configs
  island/lobby_battle-box/lobby_pipe.conf
  island/lobby_parkour-tag/lobby_pipe.conf
Due: pyhocon

Update island compass cards
  compass/cards/island/battle_box.json
  compass/cards/island/hole_in_the_wall.json
  compass/cards/island/parkour_tag_quad.json
  compass/worlds/island/games/hole_in_the_wall.conf
Due: prettier, pyhocon

Removed hub paste height from BB
  compass/worlds/island/games/battle_box.conf
Due: pyhocon

fix: Correct cosmetic part box name
  island/faction_data.conf
Due: pyhocon

Update Battle Box phase durations
  island/battle_box/phases.conf
Due: pyhocon

Add Compass cards for Island Sky Battle
  compass/cards/island/sky_battle.json
  compass/worlds/island/games/sky_battle.conf
Due: prettier, pyhocon

Add configs for Battle Box pickups
  island/battle_box/graffiti/pickups.conf
  island/battle_box/ships/pickups.conf
Due: pyhocon

Recolored NPC items
  island/lobby/npc_ayano.mcc.kts
  island/lobby/npc_bessie.mcc.kts
  island/lobby/npc_cree.mcc.kts
  island/lobby/npc_eric.mcc.kts
  island/lobby/npc_jay.mcc.kts
  island/lobby/npc_stuart.mcc.kts
  island/lobby_battle-box/npc_sir_percy.mcc.kts
  island/lobby_hitw/npc_stanley.mcc.kts
  island/lobby_parkour-tag/npc_cook_thunder.mcc.kts
  island/lobby_parkour-tag/npc_runner.mcc.kts
  island/lobby_tgttos/npc_charon.mcc.kts
  island/lobby_tgttos/npc_oscar.mcc.kts
Due: ktlint

Adjusted NPC positions
  island/lobby/npc_bessie.mcc.kts
  island/lobby/npc_cree.mcc.kts
  island/lobby/npc_eric.mcc.kts
  island/lobby/npc_stuart.mcc.kts
Due: ktlint

Grid Runners Test Rooms
  compass/cards/event/grid_runners.json
  event/grid_runners/maps.conf
Due: prettier, pyhocon

Update BB phase times
  island/battle_box/phases.conf
Due: pyhocon

Grid Runners Rooms
  compass/cards/event/grid_runners.json
  event/grid_runners/room/building/ant_farm/breakable_blocks.conf
  event/grid_runners/room/building/ant_farm/craftable_items.conf
  event/grid_runners/room/building/ant_farm/equipment.conf
  event/grid_runners/room/building/ant_farm/placeable_blocks.conf
  event/grid_runners/room/building/ant_farm/potion_effects.conf
Due: prettier, pyhocon

Grid Runners Rooms Again
  compass/cards/event/grid_runners.json
Due: prettier

Update grid_runners.json
  compass/cards/event/grid_runners.json
Due: prettier

Feature/tiered achievements
  island/achievements.conf
Due: pyhocon

modifier.conf files
  island/tgttos/basins/modifiers.conf
  island/tgttos/boats/modifiers.conf
  island/tgttos/breakdown/modifiers.conf
  island/tgttos/building/modifiers.conf
  island/tgttos/cliff/modifiers.conf
  island/tgttos/elytra/modifiers.conf
  island/tgttos/factory/modifiers.conf
  island/tgttos/glide/modifiers.conf
  island/tgttos/go/modifiers.conf
  island/tgttos/golf/modifiers.conf
  island/tgttos/pits/modifiers.conf
  island/tgttos/rocket_launcher/modifiers.conf
  island/tgttos/shallow_lava/modifiers.conf
  island/tgttos/siege/modifiers.conf
  island/tgttos/sift/modifiers.conf
  island/tgttos/skydive/modifiers.conf
  island/tgttos/terra_swoop_force/modifiers.conf
  island/tgttos/walls/modifiers.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon
