Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily12.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Tweak game phases
  island/hole_in_the_wall/phases.conf
  island/tgttos/phases.conf
Due: pyhocon

Tutorials
  island/hole_in_the_wall/tutorial.mcc.kts
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Tutorials
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

Put statue room first
  compass/cards/event/grid_runners.json
Due: prettier

Change the speed window to a single value
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/musicStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
