Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: harbor.services.noxcrew.online/tools/mcc-script-cli:main-20429a46e13b53096fe53158792d6b6b7d7ff5b1
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-9d0bbda8300b942a14d42a5166ef9d7973a5cc9d
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH"
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_prod:
    extends: .upload_consul
    environment:
        name: production-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Adjusted NPC Positions
  island/lobby/npc_bella.mcc.kts
  island/lobby/npc_benny_business.mcc.kts
  island/lobby/npc_griff.mcc.kts
  island/lobby/npc_jez_beffesto.mcc.kts
  island/lobby/npc_jonald_brave.mcc.kts
  island/lobby/npc_osas.mcc.kts
  island/lobby/npc_weezoo.mcc.kts
Due: ktfmt

Update wall_type_standard.conf
  island/hole_in_the_wall/walls/wall_type_standard.conf
Due: pyhocon

Update wall_type_fakeout_fast_slow.conf
  island/hole_in_the_wall/walls/wall_type_fakeout_fast_slow.conf
Due: pyhocon

Update wall_type_fakeout_slow_fast.conf
  island/hole_in_the_wall/walls/wall_type_fakeout_slow_fast.conf
Due: pyhocon

Update wall_type_returning.conf
  island/hole_in_the_wall/walls/wall_type_returning.conf
Due: pyhocon

Update wall_type_sike_2.conf
  island/hole_in_the_wall/walls/wall_type_sike_2.conf
Due: pyhocon

Update wall_type_sike_3.conf
  island/hole_in_the_wall/walls/wall_type_sike_3.conf
Due: pyhocon

Update wall_type_sike_4.conf
  island/hole_in_the_wall/walls/wall_type_sike_4.conf
Due: pyhocon

Adjust TGTTOS times
  island/tgttos/phases.conf
Due: pyhocon

Fix last countdown sound not triggering
  island/ace_race/phases.conf
  island/hole_in_the_wall/phases.conf
Due: pyhocon

Adjusted Furniture Interactions
  island/apartments/furniture.conf
Due: pyhocon

Update Cosmetic Master - Master.csv
  island/items/Cosmetic Master - Master.csv
Due: none

Update wall_controller.conf
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Update head_cosmetics.conf
  island/cosmetics/head_cosmetics.conf
Due: pyhocon

Added 13 NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_abdul.mcc.kts
  island/lobby/npc_barista_bella.mcc.kts
  island/lobby/npc_bella.mcc.kts
  island/lobby/npc_blockax.mcc.kts
  island/lobby/npc_brother_alex.mcc.kts
  island/lobby/npc_brother_brine.mcc.kts
  island/lobby/npc_brother_steve.mcc.kts
  island/lobby/npc_charming_prince.mcc.kts
  island/lobby/npc_damsel.mcc.kts
  island/lobby/npc_henry_lee.mcc.kts
  island/lobby/npc_min_ion.mcc.kts
  island/lobby/npc_poppy.mcc.kts
  island/lobby/npc_poseidude.mcc.kts
  island/lobby/npc_sarah_olivia.mcc.kts
  island/lobby/npc_tom_dimpleton.mcc.kts
Due: ktfmt, pyhocon

Fixed Comment
  island/lobby/npc_poppy.mcc.kts
Due: ktfmt

Update feeling_hot.conf
  island/hole_in_the_wall/traps/bad/mob/feeling_hot.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/musicStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon
