Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy
    - delete

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: lint
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: harbor.services.noxcrew.online/tools/mcc-script-cli:main-20429a46e13b53096fe53158792d6b6b7d7ff5b1
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-407e04d9cab6f272db856d3705d6f2fc0d9525de
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        on_stop: delete_consul_ptr
        kubernetes:
            namespace: ops

.kube_env_prod:
    extends: .upload_consul
    environment:
        name: production-fs2consulkv
        on_stop: delete_consul_prod
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

delete_consul_dev:
    extends: .kube_env_dev
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-407e04d9cab6f272db856d3705d6f2fc0d9525de
    stage: delete
    when: manual
    variables:
        GIT_STRATEGY: none
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" configuration/"$CI_COMMIT_BRANCH" -recurse
    except:
      - main
      - master  

# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

fix: hocon does not support list as root
  island/matchmaking/game_configurations.conf
Due: pyhocon

Use latest images
  .gitlab-ci.yml
Due: prettier

Use mcc-script-cli from MCC
  .gitlab-ci.yml
Due: prettier

Use mcc-script-cli develop
  .gitlab-ci.yml
Due: prettier

Add new file
  island/lobby_tgttos/holograms.conf
Due: pyhocon

Add new file
  island/lobby_ace-race/holograms.conf
Due: pyhocon

Update game_lobbies.conf
  compass/worlds/island/general/game_lobbies.conf
Due: pyhocon

Grid Runners - Setting up new map
  compass/cards/event/grid_runners.json
  event/grid_runners/maps.conf
  event/grid_runners/room/brew_potions/breakable_blocks.conf
  event/grid_runners/room/brew_potions/equipment.conf
  event/grid_runners/room/kitchen/breakable_blocks.conf
Due: prettier, pyhocon

Grid Runners - Editing equipment for the new map
  event/grid_runners/room/kitchen/breakable_blocks.conf
  event/grid_runners/room/replicate/pumpkin_carve/breakable_blocks.conf
  event/grid_runners/room/replicate/pumpkin_carve/equipment.conf
  event/grid_runners/room/replicate/pumpkin_carve/placeable_blocks.conf
Due: pyhocon

Update GR marker data
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Grid Runners - Editing equipment for the new map
  event/grid_runners/room/kitchen/breakable_blocks.conf
Due: pyhocon

Update game_lobbies.json
  compass/cards/island/lobbies/game_lobbies.json
Due: prettier

Set GR to use mcc18
  compass/cards/event/grid_runners.json
Due: prettier

Extend GR area
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Add test package
  island/webstore/packages/test.json
Due: prettier

Update island/webstore/packages/test.json
  island/webstore/packages/test.json
Due: prettier

Adding tgttos maps
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

Fix TGTTOS compass card
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

tgttos - enabling walls map
  island/tgttos/rounds.conf
Due: pyhocon

tgttos - fixing walls map
  island/tgttos/maps.conf
Due: pyhocon

Fix walls map id
  island/tgttos/maps.conf
Due: pyhocon

tgttos - enabling mobs on walls
  island/tgttos/maps.conf
Due: pyhocon

tgttos - loading map regions
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

tgttos - adding 2 maps
  island/tgttos/maps.conf
  island/tgttos/rounds.conf
Due: pyhocon

Don't require playable area / spawn area in all tgttos maps
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

tgttos - allowing interaction
  island/tgttos/maps.conf
Due: pyhocon

tgttos - making a nice set of maps for testing
  island/tgttos/rounds.conf
Due: pyhocon

Add a config for GR custom potions in item check room
  event/grid_runners/room/brew_potions/checked_items.conf
Due: pyhocon

Add config files for Battle Box
  compass/cards/island/battle_box.json
  compass/worlds/island/games/battle_box.conf
  island/battle_box/maps.conf
  island/battle_box/phases.conf
  island/battle_box/rounds.conf
Due: prettier, pyhocon

Tweak BB markers
  compass/worlds/island/games/battle_box.conf
Due: pyhocon

Fix outdated naming for scoring confs
  island/ace_race/ace_race_scores.conf
  island/hole_in_the_wall/hitw_scores.conf
Due: pyhocon

Update HITW scoring conf
  island/hole_in_the_wall/hitw_scores.conf
Due: pyhocon

Update scoring configs to latest format
  island/ace_race/ace_race_scores.conf
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Set variants for battle box assemblers
  compass/cards/event/battle_box.json
  compass/cards/island/battle_box.json
Due: prettier

Add Battle Box equipment
  island/battle_box/equipment.conf
Due: pyhocon

Updated HITW Scores
  island/hole_in_the_wall/hitw_scores.conf
Due: pyhocon

Add BB configs for blocks, kits and equipment
  event/battle_box/breakable_blocks.conf
  event/battle_box/capture_point/breakable_blocks.conf
  event/battle_box/capture_point/placeable_blocks.conf
  event/battle_box/haunted_house/breakable_blocks.conf
  event/battle_box/haunted_house/equipment.conf
  event/battle_box/haunted_house/kits.conf
  event/battle_box/haunted_house/placeable_blocks.conf
  event/battle_box/placeable_blocks.conf
  island/battle_box/breakable_blocks.conf
  island/battle_box/capture_point/breakable_blocks.conf
  island/battle_box/capture_point/placeable_blocks.conf
  island/battle_box/haunted_house/breakable_blocks.conf
  island/battle_box/haunted_house/equipment.conf
  island/battle_box/haunted_house/kits.conf
  island/battle_box/haunted_house/placeable_blocks.conf
  island/battle_box/placeable_blocks.conf
Due: pyhocon

Fix incorrect hocon
  compass/worlds/event/battle_box.conf
  compass/worlds/island/games/battle_box.conf
  event/battle_box/haunted_house/kits.conf
  island/battle_box/haunted_house/kits.conf
Due: pyhocon
