Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

compile_scripts:
  stage: compile
  image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-22789d70e4999cd2365e1e235384d116831fb12f
  script:
  - ./.gitlab/tools/compile-scripts.sh
  cache:
  - key: $CI_COMMIT_BRANCH
    paths:
    - compiled/

KT-45007
  .gitlab/tools/compile-scripts.sh
Due: none

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Add a category to GR sprints
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Fixed vendor locations
  island/lobby/npc_bling_king.mcc.kts
  island/lobby/npc_gimbzo_toktorc.mcc.kts
  island/lobby/npc_join_faction.mcc.kts
  island/lobby/npc_springsteen.mcc.kts
  island/lobby/npc_weezoo.mcc.kts
Due: ktfmt, compile_scripts

Fix GR config
  compass/worlds/event/grid_runners.conf
Due: pyhocon

Update npc_weezoo.mcc.kts
  island/lobby/npc_weezoo.mcc.kts
Due: ktfmt, compile_scripts

particle npc fix
  island/lobby/npc_weezoo.mcc.kts
Due: ktfmt, compile_scripts

Revert Weezoo's location because Davud was apparently drunk
  island/lobby/npc_weezoo.mcc.kts
Due: ktfmt, compile_scripts

Give dolphin's grade in GR
  event/grid_runners/fallback/potion_effects.conf
Due: pyhocon

Updated CSVs
  island/items/Cosmetic Master - Master.csv
  island/items/Furniture_Master - Master.csv
Due: none

Adjusted Typos
  island/apartments/furniture.conf
Due: pyhocon

Added equations to Mastermind Trail
  island/cosmetics/trails/trail_master_mind.conf
Due: pyhocon

shop and ambient NPC test (added plenty)
  island/lobby/enabled_scripts.conf
  island/lobby/npc_barbara_syrup.mcc.kts
  island/lobby/npc_barby_barbizzle.mcc.kts
  island/lobby/npc_charlie_toothpick.mcc.kts
  island/lobby/npc_chase_elbongo.mcc.kts
  island/lobby/npc_doug_printeeno.mcc.kts
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_jez_beffesto.mcc.kts
  island/lobby/npc_jonald_brave.mcc.kts
  island/lobby/npc_kenneth_paltro.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mackenzie_limetta.mcc.kts
  island/lobby/npc_mark_cuzz.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
  island/lobby/npc_mia_wattington.mcc.kts
  island/lobby/npc_palondro_puffers.mcc.kts
  island/lobby/npc_pip_squeekers.mcc.kts
  island/lobby/npc_rick_stiffter.mcc.kts
  island/lobby/npc_rolph_greenie.mcc.kts
  island/lobby/npc_samwell_finster.mcc.kts
  island/lobby/npc_sergey_torba.mcc.kts
  island/lobby/npc_stacy_bandana.mcc.kts
  island/lobby/npc_tina_starstop.mcc.kts
  island/lobby/npc_tom_carro.mcc.kts
  island/lobby/npc_vin_petrol.mcc.kts
Due: ktfmt, pyhocon, compile_scripts

Make the GR golf room stick look like a golf club
  event/grid_runners/room/golf/equipment.conf
Due: pyhocon

Added Posters
  island/apartments/furniture.conf
Due: pyhocon

NPC belowname and type update
  island/lobby/npc_barbara_syrup.mcc.kts
  island/lobby/npc_barby_barbizzle.mcc.kts
  island/lobby/npc_charlie_toothpick.mcc.kts
  island/lobby/npc_chase_elbongo.mcc.kts
  island/lobby/npc_doug_printeeno.mcc.kts
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_jez_beffesto.mcc.kts
  island/lobby/npc_jonald_brave.mcc.kts
  island/lobby/npc_kenneth_paltro.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mackenzie_limetta.mcc.kts
  island/lobby/npc_mark_cuzz.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
  island/lobby/npc_mia_wattington.mcc.kts
  island/lobby/npc_palondro_puffers.mcc.kts
  island/lobby/npc_pip_squeekers.mcc.kts
  island/lobby/npc_rick_stiffter.mcc.kts
  island/lobby/npc_rolph_greenie.mcc.kts
  island/lobby/npc_samwell_finster.mcc.kts
  island/lobby/npc_sergey_torba.mcc.kts
  island/lobby/npc_tina_starstop.mcc.kts
  island/lobby/npc_tom_carro.mcc.kts
Due: ktfmt, compile_scripts

npc fixes
  island/lobby/npc_charlie_toothpick.mcc.kts
  island/lobby/npc_mia_wattington.mcc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/npc_types.conf
Due: ktfmt, pyhocon, compile_scripts

jerry linguini fix
  island/lobby/npc_jerry_linguni.mcc.kts
Due: ktfmt, compile_scripts

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Improve the HITW config
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Add equipment to test NPC
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt, compile_scripts

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier

Update CLI
  .gitlab-ci.yml
Due: prettier

Beards look better
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt, compile_scripts

Add more documentation
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt, compile_scripts

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
  compile_scripts: any of: **/*.mcc.kts
