Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - upload
    - deploy

prettier:
    stage: lint
    image: node:15.4.0-alpine
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    script:
        - yarn global add prettier
        - prettier -c .

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/.ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/.pyhocon.sh

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/fs2consulkv:master-5cb065cccf7422fe56f3526fceace7a4cf44e2a7
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/.consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --skip-prompt

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: upload
    extends: [.kube_env_dev, .upload_consul]

upload_consul_ptr:
    stage: upload
    extends: [.kube_env_ptr, .upload_consul]

Add translatable/color names to Test NPC and remove yaw from patrol
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt

Feature/island hitw
  island/lobby/enabled_scripts.conf
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/maps.conf
  island/lobby_hitw/npc_hitw.mcc.kts
Due: ktfmt, pyhocon

Move lobby_hitw
  island/lobby/lobby_hitw/enabled_scripts.conf
  island/lobby/lobby_hitw/maps.conf
  island/lobby/lobby_hitw/npc_hitw.mcc.kts
Due: ktfmt, pyhocon

Rename map
  island/lobby/lobby_hitw/maps.conf
Due: pyhocon

Fix HITW NPC
  island/lobby/lobby_hitw/npc_hitw.mcc.kts
Due: ktfmt

Create npc_epic_npc.mcc.kts
  island/lobby/npc_epic_npc.mcc.kts
Due: ktfmt

Update enabled_scripts.conf
  island/lobby/enabled_scripts.conf
Due: pyhocon

Add more comments
  island/lobby/npc_skin_test.mcc.kts
Due: ktfmt

Island HITW: Change barrier interval
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Feature/island hitw
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt

Feature/island hitw
  island/hole_in_the_wall/camera_path.conf
  island/hole_in_the_wall/tutorial.mcc.kts
Due: ktfmt, pyhocon

Add interaction to the "Join Faction" NPC
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Feature/faction join
  island/lobby/npc_join_faction.mcc.kts
Due: ktfmt

Add friend alerts config
  island/friend_alerts.conf
Due: pyhocon

Feature/friend limit
  island/friend_limit.conf
Due: pyhocon

Added Chicken Emoji
  island/faces.conf
Due: pyhocon

Island TGTTOS changes
  island/tgttos/camera_path.conf
  island/tgttos/enabled_scripts.conf
  island/tgttos/maps.conf
  island/tgttos/tutorial.mcc.kts
Due: ktfmt, pyhocon

Define tutorial phase length for island TGTTOS
  island/tgttos/phases.conf
Due: pyhocon

Island HITW: Set a better wall interval.
  island/hole_in_the_wall/wall_controller.conf
Due: pyhocon

Adjust TGTTOS camera path
  island/tgttos/camera_path.conf
Due: pyhocon

Tweak TGTTOS path yaw pitch
  island/tgttos/camera_path.conf
Due: pyhocon

Change pitch of camera path for TGTTOS
  island/tgttos/camera_path.conf
Due: pyhocon

Disable PTR for now
  .gitlab-ci.yml
Due: prettier

Prettier?
  .gitlab-ci.yml
Due: prettier

Prettier.
  .gitlab-ci.yml
Due: prettier

Look down in TGTTOS tutorial, not up
  island/tgttos/camera_path.conf
Due: pyhocon

Adjust tutorial messages for TGTTOS
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Use new I18n#range in TGTTOS tutorial
  island/tgttos/tutorial.mcc.kts
Due: ktfmt

Island TGTTOS: Setup the game lobby region
  compass/game_lobbies.json
Due: prettier

Feature/game lobbies
  island/lobby/lobby_tgttos/enabled_scripts.conf
  island/lobby/lobby_tgttos/maps.conf
Due: pyhocon

Island: ???
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/maps.conf
  island/lobby_hitw/npc_hitw.mcc.kts
  island/lobby_tgttos/enabled_scripts.conf
  island/lobby_tgttos/maps.conf
Due: ktfmt, pyhocon

Add configuration for TGTTOS scoring
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Revert "Island: ???"
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/maps.conf
  island/lobby_hitw/npc_hitw.mcc.kts
  island/lobby_tgttos/enabled_scripts.conf
  island/lobby_tgttos/maps.conf
Due: ktfmt, pyhocon

Revert "Revert "Island: ???""
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/maps.conf
  island/lobby_hitw/npc_hitw.mcc.kts
  island/lobby_tgttos/enabled_scripts.conf
  island/lobby_tgttos/maps.conf
Due: ktfmt, pyhocon

Clear Consul remnants
  .gitlab-ci.yml
  .gitlab/tools/consul-diff.sh
Due: prettier

Add emoji to Joey's name
  island/lobby/npc_joey_fresh.mcc.kts
Due: ktfmt

Fix lobby
  island/lobby/lobby_hitw/maps.conf
  island/lobby/lobby_tgttos/maps.conf
Due: pyhocon

Change npc names
  island/lobby/npc_epic_npc.mcc.kts
  island/lobby/npc_joey_fresh.mcc.kts
Due: ktfmt

music store npc
  island/lobby/enabled_scripts.conf
  island/lobby/npc_springsteen.mcc.kts
Due: ktfmt, pyhocon
