Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru==0.5.3
  - python .gitlab/tools/parse-hocon.py

Maybe this doesn't need bash
  .gitlab/tools/compile-scripts.sh
Due: none

Set entrypoint
  .gitlab-ci.yml
Due: prettier

Properly set entrypoint
  .gitlab-ci.yml
Due: prettier

oh my god shut up already
  .gitlab-ci.yml
Due: prettier

Update mcc-script-cli, I admit defeat
  .gitlab-ci.yml
Due: prettier

script-cli
  .gitlab-ci.yml
  .gitlab/tools/compile-scripts.sh
Due: prettier

Update script-cli
  .gitlab-ci.yml
Due: prettier

script-cli name
  .gitlab-ci.yml
Due: prettier

Update script-cli again
  .gitlab-ci.yml
Due: prettier

Update script-cli again again
  .gitlab-ci.yml
Due: prettier

Add more meltdown markers
  compass/worlds/event/meltdown.conf
Due: pyhocon

Make meltdown doors a region
  compass/worlds/event/meltdown.conf
Due: pyhocon

Add a new meltdown section
  compass/worlds/event/meltdown.conf
Due: pyhocon

remove broken BB maps from rotation
  samples/battle_box.conf
Due: pyhocon

fix: Use game schedule for all island map choices
  island/ace_race/rounds.conf
  island/battle_box/rounds.conf
  island/hole_in_the_wall/rounds.conf
  island/parkour_tag/rounds.conf
  island/tgttos/rounds.conf
  samples/battle_box.conf
Due: pyhocon

Updated Cosmetic Master
  island/items/Cosmetic Master - Master.csv
Due: none

Added formulae to Mastermind trail
  island/cosmetics/trails/trail_master_mind.conf
Due: pyhocon

Add parkour tag assembler
  compass/cards/island/parkour_tag_quad.json
Due: prettier

Add more required markers to Parkour tag
  compass/worlds/island/games/parkour_tag_quad.conf
Due: pyhocon

Remove map from Parkour Tag Quad
  samples/parkour_tag_quad.conf
Due: pyhocon

Remove all non-haunted house maps
  samples/battle_box.conf
Due: pyhocon

Fix Parkour Tag Quad Map
  samples/parkour_tag_quad.conf
Due: pyhocon

add riverside map PK
  compass/worlds/island/games/parkour_tag.conf
Due: pyhocon

add kits for canal
  island/battle_box/canal/breakable_blocks.conf
  island/battle_box/canal/equipment.conf
  island/battle_box/canal/kits.conf
  island/battle_box/canal/placeable_blocks.conf
Due: pyhocon

Adjusted Stacy Bandana NPC's pathing to suit new coffee shop layout
  island/lobby/npc_stacy_bandana.mcc.kts
Due: ktlint

add kits for paint factory
  island/battle_box/graffiti/kits.conf
  island/battle_box/paint_factory/breakable_blocks.conf
  island/battle_box/paint_factory/equipment.conf
  island/battle_box/paint_factory/kits.conf
  island/battle_box/paint_factory/placeable_blocks.conf
Due: pyhocon

fix default kits
  island/battle_box/kits.conf
Due: pyhocon

add canal
  samples/battle_box.conf
Due: pyhocon

Update battle_box.conf
  samples/battle_box.conf
Due: pyhocon

Correct maps.conf for Parkour Tag Quad
  island/parkour_tag/quad/maps.conf
Due: pyhocon

Adjustments to faction rewards
  island/faction_data.conf
  island/factions.conf
Due: pyhocon

Update Cosmetic Master - Master.csv
  island/items/Cosmetic Master - Master.csv
Due: none

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
