Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon

prettier:
  stage: lint
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktfmt:
  stage: lint
  image: adoptopenjdk/openjdk11:debian-slim
  script:
  - ./.gitlab/tools/ktfmt.sh

pyhocon:
  stage: lint
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.57
  - apk add --no-cache bash
  - ./.gitlab/tools/pyhocon.sh

Update rotations [NetworkCron]
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/musicStore_static.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily12.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Grid Runners - Adding new room
  event/grid_runners/room/building/city_statue/breakable_blocks.conf
  event/grid_runners/room/building/city_statue/placeable_blocks.conf
Due: pyhocon

Grid Runners - Setting up new room
  compass/cards/event/grid_runners.json
  event/grid_runners/room/building/city_statue/equipment.conf
Due: prettier, pyhocon

Fix hocon format
  event/grid_runners/room/building/city_statue/equipment.conf
Due: pyhocon

Added more Mysterious Ninjas to hub
  island/lobby/enabled_scripts.conf
  island/lobby/npc_mysteriousninja2.mcc.kts
  island/lobby/npc_mysteriousninja3.mcc.kts
  island/lobby/npc_mysteriousninja4.mcc.kts
Due: ktfmt, pyhocon

Adjusted NPC positions
  island/lobby/npc_biran.mcc.kts
  island/lobby/npc_bob.mcc.kts
  island/lobby/npc_clint.mcc.kts
  island/lobby/npc_edward.mcc.kts
  island/lobby/npc_mysteriousninjaprincess.mcc.kts
  island/lobby/npc_sandy.mcc.kts
Due: ktfmt

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/furnitureStore_daily.conf
  island/shop/autogen/furnitureStore_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/musicStore_daily.conf
  island/shop/autogen/musicStore_static.conf
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktfmt: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
