Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru=0.5.3
  - python .gitlab/tools/parse-hocon.py

Yet another typo
  event/grid_runners/room/building/jungle_bridge_build/placeable_blocks.conf
Due: pyhocon

Make empty flower pots breakable
  event/grid_runners/room/building/house_search/breakable_blocks.conf
Due: pyhocon

Adjusted NPC pathing
  island/lobby/npc_cori_walker.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
Due: ktlint

Enabled breaking dead_bush on jungle bridge build
  event/grid_runners/room/building/jungle_bridge_build/breakable_blocks.conf
  event/grid_runners/room/building/jungle_bridge_build/equipment.conf
Due: pyhocon

Use new package id key
  island/webstore/packages/test.json
Due: prettier

Added Diversity to some names
  island/lobby/enabled_scripts.conf
  island/lobby/npc_ayano.mcc.kts
  island/lobby/npc_ben.mcc.kts
  island/lobby/npc_taylor.mcc.kts
  island/lobby/npc_urbi.mcc.kts
Due: ktlint, pyhocon

Upated breakable blocks for jungle_bridge_build
  event/grid_runners/room/building/jungle_bridge_build/breakable_blocks.conf
  event/grid_runners/room/building/jungle_bridge_build/placeable_blocks.conf
Due: pyhocon

Update phases.conf
  island/hole_in_the_wall/phases.conf
Due: pyhocon

Removed light_gray_stained_glass from breakable blocks in house search
  event/grid_runners/room/building/house_search/breakable_blocks.conf
Due: pyhocon

adding cosmetics onto server & mapping colours
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

Update Cosmetic Master - Master.csv
  island/items/Cosmetic Master - Master.csv
Due: none

Update cosmetic_colors.conf
  island/cosmetics/cosmetic_colors.conf
Due: pyhocon

Disable certain crafting recipes in GR rooms
  event/grid_runners/room/building/jungle_bridge_build/craftable_items.conf
Due: pyhocon

Removed spruce trapdoor placing to prevent room cheesing
  event/grid_runners/room/building/jungle_bridge_build/placeable_blocks.conf
Due: pyhocon

Updated Cosmetic Master
  island/items/Cosmetic Master - Master.csv
Due: none

Ace Race - Linking new maps
  samples/ace_race.conf
Due: pyhocon

Tweak ace race split per section
  compass/cards/island/ace_race.json
  compass/worlds/island/games/battle_box.conf
Due: prettier, pyhocon

Fix: Split all non-ref sections in Island Ace Race
  compass/cards/island/ace_race.json
Due: prettier

Fix: Fix ace race map names
  island/ace_race/maps.conf
Due: pyhocon

Small Pathing Fix for NPC
  island/lobby/npc_bubblegum_fury.mcc.kts
Due: ktlint

Use new per-position configuration system
  island/lobby_hitw/holograms.conf
  island/lobby_hitw/statistic_display.conf
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Fix location structure
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Initial statistic display configuration file
  island/lobby_hitw/statistic_display.conf
Due: pyhocon

Tweak header name
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Tweak location
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Change header message
  island/lobby_hitw/statistic_display.conf
Due: pyhocon

Added Hologram Arrows
  island/lobby_ace-race/holograms.conf
  island/lobby_hitw/holograms.conf
  island/lobby_tgttos/holograms.conf
Due: pyhocon

Add statistic hologram button positions
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Each statistic hologram can now only have one location
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Remove placeholder holograms
  island/lobby_hitw/holograms.conf
Due: pyhocon

Further tweak button positions
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Tweak button positions
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Changes displayed stats
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Correct statistic names
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

We don't need that comma
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

Added Accessories to NPCs
  island/lobby/npc_aaron.mcc.kts
  island/lobby/npc_adam.mcc.kts
  island/lobby/npc_alice.mcc.kts
  island/lobby/npc_ayano.mcc.kts
  island/lobby/npc_barby_leblanc.mcc.kts
  island/lobby/npc_barista_bella.mcc.kts
  island/lobby/npc_benny_business.mcc.kts
  island/lobby/npc_bling_king.mcc.kts
  island/lobby/npc_bronan.mcc.kts
  island/lobby/npc_gary.mcc.kts
  island/lobby/npc_hebotai.mcc.kts
  island/lobby/npc_min_ion.mcc.kts
  island/lobby/npc_noah.mcc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/lobby/npc_shadydan.mcc.kts
  island/lobby/npc_tiffany.mcc.kts
  island/lobby/npc_victor.mcc.kts
  island/lobby/npc_watt.mcc.kts
  island/lobby/npc_zach.mcc.kts
  island/lobby_ace-race/holograms.conf
  island/lobby_hitw/holograms.conf
Due: ktlint, pyhocon

Attempted Fix
  island/lobby/npc_zach.mcc.kts
Due: ktlint

Attempted Fix 3
  island/lobby/npc_aaron.mcc.kts
  island/lobby/npc_adam.mcc.kts
  island/lobby/npc_alice.mcc.kts
  island/lobby/npc_ayano.mcc.kts
  island/lobby/npc_benny_business.mcc.kts
  island/lobby/npc_bling_king.mcc.kts
  island/lobby/npc_bronan.mcc.kts
  island/lobby/npc_hebotai.mcc.kts
  island/lobby/npc_min_ion.mcc.kts
  island/lobby/npc_noah.mcc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/lobby/npc_roamy_stepton.mcc.kts
Due: ktlint

Attempted Fix 4
  island/lobby/npc_watt.mcc.kts
Due: ktlint

Attempted Fix 2
  island/lobby/npc_zach.mcc.kts
Due: ktlint

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
