Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: lint
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: harbor.services.noxcrew.online/tools/mcc-script-cli:main-20429a46e13b53096fe53158792d6b6b7d7ff5b1
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:develop-f42ad206311364881606a66270e52db07976c884
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_prod:
    extends: .upload_consul
    environment:
        name: production-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Delete testing files
  test.txt
  testymctestface.txt
Due: none

Use production fs2consulkv
  .gitlab-ci.yml
Due: prettier

Move old compass files out of the folder
  legacy/compass-v1/ace_race.json
  legacy/compass-v1/apartments.json
  legacy/compass-v1/battle_box.json
  legacy/compass-v1/build_mart.json
  legacy/compass-v1/event_lobby.json
  legacy/compass-v1/faction_houses.json
  legacy/compass-v1/game_lobbies.json
  legacy/compass-v1/grid_runners.json
  legacy/compass-v1/hole_in_the_wall.json
  legacy/compass-v1/island_hitw.json
  legacy/compass-v1/island_lobby.json
  legacy/compass-v1/island_tgttos.json
  legacy/compass-v1/parkour_tag.json
  legacy/compass-v1/sky_battle.json
  legacy/compass-v1/tgttosawaf.json
Due: prettier

Delete branch on merge
  .gitlab-ci.yml
Due: prettier

Move on-stop into environment
  .gitlab-ci.yml
Due: prettier

We only need this on dev branches
  .gitlab-ci.yml
Due: prettier

Dev only once again
  .gitlab-ci.yml
Due: prettier

Move Consul arguments
  .gitlab-ci.yml
Due: prettier

Make consul-wrapper forward the return code of the wrapped cmd
  .gitlab/tools/consul-wrapper.py
Due: none

Intentionally break this for testing
  .gitlab-ci.yml
Due: prettier

Revert "Intentionally break this for testing"
  .gitlab-ci.yml
Due: prettier

Update PTR deployment
  .gitlab-ci.yml
Due: prettier

Lower copy amount of BB/PT maps
  compass/cards/event/battle_box.json
  compass/cards/event/parkour_tag.json
Due: prettier

sky_battle - new candy land map
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Add team colored to SBA
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Allow more than 4 team colored blocks
  compass/worlds/event/sky_battle.conf
Due: pyhocon

Remove map duplication for event SBA
  compass/cards/event/sky_battle.json
Due: prettier

Compile in the same stage as linting
  .gitlab-ci.yml
Due: prettier

speed
  .gitlab/tools/pyhocon.sh
Due: none

Fix script
  .gitlab/tools/pyhocon.sh
Due: none

Pyhocon is a lot slower / more cpu intensive than it should be
  .gitlab-ci.yml
Due: prettier

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier

It makes no fucking sense how this broke out of nowhere
  .gitlab-ci.yml
Due: prettier

Only run if mcc.kts is editted
  .gitlab-ci.yml
Due: prettier

Nevermind on mcc.kts modifications only for now
  .gitlab-ci.yml
Due: prettier

Update furniture.conf
  island/apartments/furniture.conf
Due: pyhocon

Fixed cosmetic 'head' refs
  island/items/Cosmetic Master - Master.csv
Due: none

Attempted pathing fix for Charley NPC
  island/lobby/npc_charley.mcc.kts
Due: ktlint

raised holos up by 1
  island/lobby/holograms.conf
Due: pyhocon

raised holos by 0.5
  island/lobby/holograms.conf
Due: pyhocon

welcome holo
  island/lobby/holograms.conf
Due: pyhocon

welcome holo test
  island/lobby/holograms.conf
Due: pyhocon

Match Making game configurations file
  island/matchmaking/game_configurations.conf
Due: pyhocon

Revert "Match Making game configurations file"
  island/matchmaking/game_configurations.conf
Due: pyhocon

fix matchmakinmg game_configuration file
  island/matchmaking/game_configurations.conf
Due: pyhocon
