Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy
    - delete

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: lint
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: harbor.services.noxcrew.online/tools/mcc-script-cli:main-20429a46e13b53096fe53158792d6b6b7d7ff5b1
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-407e04d9cab6f272db856d3705d6f2fc0d9525de
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        on_stop: delete_consul_ptr
        kubernetes:
            namespace: ops

.kube_env_prod:
    extends: .upload_consul
    environment:
        name: production-fs2consulkv
        on_stop: delete_consul_prod
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

delete_consul_dev:
    extends: .kube_env_dev
    image: harbor.services.noxcrew.online/tools/fs2consulkv:main-407e04d9cab6f272db856d3705d6f2fc0d9525de
    stage: delete
    when: manual
    variables:
        GIT_STRATEGY: none
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" configuration/"$CI_COMMIT_BRANCH" -recurse
    except:
      - main
      - master  

# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Update hitw_scores.conf
  island/hole_in_the_wall/hitw_scores.conf
Due: pyhocon

Fix typo in breakable blocks
  event/grid_runners/room/brew_potions/breakable_blocks.conf
Due: pyhocon

Add a pickaxe to brew potions for the gold ore
  event/grid_runners/room/brew_potions/equipment.conf
Due: pyhocon

HIW Score Inflation
  island/hole_in_the_wall/hitw_scores.conf
Due: pyhocon

Update to_get_to_the_other_side.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Set event BB to use haunted house
  event/battle_box/rounds.conf
Due: pyhocon

tgttos - linking pits map
  compass/worlds/island/games/tgttos.conf
  island/tgttos/maps.conf
Due: pyhocon

tgttos - adding shallow lava
  compass/worlds/island/games/tgttos.conf
  island/tgttos/maps.conf
Due: pyhocon

tgttos - fixing shallow lava
  island/tgttos/maps.conf
Due: pyhocon

tgttos - testing new maps
  island/tgttos/rounds.conf
  island/tgttos/shallow_lava/equipment.conf
Due: pyhocon

Linking ace race maps
  compass/worlds/island/games/ace_race.conf
  island/ace_race/maps.conf
Due: pyhocon

fixing regions for clouds
  compass/worlds/island/games/ace_race.conf
Due: pyhocon

Fix AR card
  compass/worlds/island/games/ace_race.conf
Due: pyhocon

Grid Runners - Adding halloween variants
  compass/cards/event/grid_runners.json
Due: prettier

adding new tgttos maps to the sample
  samples/to_get_to_the_other_side.conf
Due: pyhocon

tgttos testing maps
  samples/to_get_to_the_other_side.conf
Due: pyhocon

NPC / TGTTOS adjustments
  island/lobby/npc_benny_business.mcc.kts
  island/lobby/npc_hebotai.mcc.kts
  island/tgttos/tgttos_scores.conf
Due: ktlint, pyhocon

Change GR room order
  compass/cards/event/grid_runners.json
Due: prettier

Add strength pot and change order
  compass/cards/event/grid_runners.json
  event/grid_runners/room/brew_potions/checked_items.conf
Due: prettier, pyhocon

Adjusted NPC Pathing
  island/lobby/npc_benny_business.mcc.kts
  island/lobby/npc_gary.mcc.kts
Due: ktlint

Updated NPC 'npc_pretty_uppy_lady' to open the 'island.shop.barber.gui'
  island/lobby/npc_pretty_uppy_lady.mcc.kts
Due: ktlint

Fix ktlint issue
  island/lobby/npc_pretty_uppy_lady.mcc.kts
Due: ktlint

Update imag
  .gitlab-ci.yml
Due: prettier

Island Battle Box: Use the event map for now
  island/battle_box/maps.conf
  samples/battle_box.conf
Due: pyhocon

Add podium to island battle box
  compass/worlds/island/games/battle_box.conf
  island/battle_box/maps.conf
  samples/battle_box.conf
Due: pyhocon

Remove unneeded section
  island/battle_box/maps.conf
Due: pyhocon

Partial TGTTOS Coin Tweaks
  island/tgttos/tgttos_scores.conf
Due: pyhocon

Gadget charge capacity and regeneration tables
  island/cosmetics/gadgets/Gadget Charges - Charge Capacity.csv
  island/cosmetics/gadgets/Gadget Charges - Charge Regeneration.csv
Due: none

Minor NPC Placement adjustment
  island/lobby/npc_gary.mcc.kts
Due: ktlint

Default cosmetic color config
  island/cosmetics/cosmetic_colors.conf
  island/cosmetics/hair_cosmetics.conf
  island/cosmetics/head_cosmetics.conf
Due: pyhocon

Updated Shop Prices; Removed Furniture Stores
  island/items/Cosmetic Master - Master.csv
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
Due: ktlint

Attempted Fix
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
Due: ktlint

Attempted Fix 2
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
Due: ktlint

Attempted Fix 3
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
Due: ktlint

Attempted Fix 4
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
Due: ktlint

Setup dialogue for Linguini NPCs
  island/lobby/npc_jerry_linguni.mcc.kts
  island/lobby/npc_kia_linguni.mcc.kts
  island/lobby/npc_mia_linguni.mcc.kts
Due: ktlint

Adjusted Jerry Linguini
  island/lobby/npc_jerry_linguni.mcc.kts
Due: ktlint
