Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru==0.5.3
  - python .gitlab/tools/parse-hocon.py

Rocket spleef
  compass/worlds/event/rocket_spleef_rush.conf
Due: pyhocon

Rocket spleef
  event/rocket_spleef/maps.conf
  event/rocket_spleef/test/generator.conf
Due: pyhocon

cosmetic colours/master update
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

fixed master
  island/items/Cosmetic Master - Master.csv
Due: none

cosmetic sheet fix
  island/items/Cosmetic Master - Master.csv
Due: none

colour/master sheet fix
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

Update Cosmetic Master - Master.csv
  island/items/Cosmetic Master - Master.csv
Due: none

config fix
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

Rocket spleef
  event/rocket_spleef/test/generator.conf
Due: pyhocon

changes
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Update formatting
  island/lobby/npc_joey_fresh.mcc.kts
  island/lobby/npc_skin_test.mcc.kts
  island/lobby/npc_vin_petrol.mcc.kts
  island/npc_types.conf
Due: ktlint, pyhocon

Change RSR to use entries/exists over blocked ones
  compass/worlds/event/rocket_spleef_rush.conf
Due: pyhocon

change
  island/tgttos/rounds.conf
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Add a setting to disable sideways paste offsets
  event/rocket_spleef/generator.conf
  event/rocket_spleef/test/generator.conf
Due: pyhocon

change
  island/tgttos/modifiers/asteroids.conf
  island/tgttos/modifiers/tnt_time.conf
Due: pyhocon

changed map settings
  samples/to_get_to_the_other_side.conf
Due: pyhocon

map changes
  samples/to_get_to_the_other_side.conf
Due: pyhocon

Lower test island distance
  event/rocket_spleef/test/generator.conf
Due: pyhocon

Lower rocket launcher radiuses
  event/rocket_spleef/rocket_launcher.conf
Due: pyhocon

npcs update
  island/items/Cosmetic Master - Master.csv
  island/lobby/enabled_scripts.conf
  island/lobby/npc_abigail.mcc.kts
  island/lobby/npc_john.mcc.kts
  island/lobby/npc_jordan.mcc.kts
  island/lobby/npc_jordana.mcc.kts
  island/lobby/npc_officermark.mcc.kts
  island/lobby/npc_officermiles.mcc.kts
  island/lobby/npc_phil.mcc.kts
  island/lobby/npc_tiffany.mcc.kts
Due: ktlint, pyhocon

cosmetic name / colour fix
  island/cosmetics/cosmetic_colors.conf
  island/lobby/npc_abigail.mcc.kts
Due: ktlint, pyhocon

Rocket spleef
  event/rocket_spleef/generator.conf
Due: pyhocon

Fix delete consul
  .gitlab-ci.yml
Due: prettier

Add type to PT Podium
  compass/worlds/island/games/parkour_tag_quad.conf
Due: pyhocon

Rocket spleef
  event/rocket_spleef/skycity/generator.conf
Due: pyhocon

Rocket spleef
  event/rocket_spleef/generator.conf
  event/rocket_spleef/skycity/generator.conf
Due: pyhocon

Feature/aledet
  island/lobby/npc_bessie.mcc.kts
  island/lobby/npc_cree.mcc.kts
  island/lobby/npc_doug.mcc.kts
  island/lobby/npc_drew.mcc.kts
  island/lobby/npc_edward.mcc.kts
  island/lobby/npc_eric.mcc.kts
  island/lobby/npc_jon.mcc.kts
  island/lobby/npc_stuart.mcc.kts
Due: ktlint

Changed around some cosmetics / cosmetic colors
  island/lobby/npc_barista_bella.mcc.kts
  island/lobby/npc_jon.mcc.kts
  island/lobby/npc_mannequin1.mcc.kts
Due: ktlint

new accessories/npcs
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
  island/lobby/enabled_scripts.conf
  island/lobby/npc_ayano.mcc.kts
  island/lobby/npc_barbie_leblanc.mcc.kts
  island/lobby/npc_jeffrey.mcc.kts
  island/lobby/npc_madeline.mcc.kts
  island/lobby/npc_officermark.mcc.kts
  island/lobby/npc_officermiles.mcc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/lobby/npc_robert.mcc.kts
  island/lobby/npc_tina_starstop.mcc.kts
Due: ktlint, pyhocon

npc pos update
  island/lobby/npc_robert.mcc.kts
Due: ktlint

fixed mannequin npc
  island/lobby/npc_mannequin5.mcc.kts
Due: ktlint

Add StayExact time to RSR
  compass/worlds/event/rocket_spleef_rush.conf
Due: pyhocon

Add metadata to specify the movement direction of a map
  compass/worlds/event/rocket_spleef_rush.conf
Due: pyhocon

Change RSR rocket launcher model
  event/rocket_spleef/equipment.conf
Due: pyhocon

Remove rocket cannon coloring
  event/rocket_spleef/equipment.conf
  event/rocket_spleef/generator.conf
Due: pyhocon

Remove rocket cannon enchantment
  event/rocket_spleef/equipment.conf
Due: pyhocon

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
