Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru=0.5.3
  - python .gitlab/tools/parse-hocon.py

Updated Item Costs
  island/items/Cosmetic Master - Master.csv
Due: none

Added Trashman, fixed Sarai/Hassan
  island/lobby/enabled_scripts.conf
  island/lobby/npc_hassan.mcc.kts
  island/lobby/npc_sarai.mcc.kts
  island/lobby/npc_trashman.mcc.kts
Due: ktlint, pyhocon

Formatting fix
  island/lobby/npc_trashman.mcc.kts
Due: ktlint

Spacing adjustments
  island/lobby/npc_trashman.mcc.kts
Due: ktlint

sheet update
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

cosmetic sheet update
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

Update testquest.conf
  island/quests/daily/testquest.conf
Due: pyhocon

Update testquest.conf
  island/quests/weekly/testquest.conf
Due: pyhocon

Update testquest.conf
  island/quests/world/testquest.conf
Due: pyhocon

Update island/faction_data.conf, island/quests/daily/testquest.conf, island/quests/weekly/testquest.conf, island/quests/world/testquest.conf files
  island/faction_data.conf
  island/quests/daily/testquest.conf
  island/quests/weekly/testquest.conf
  island/quests/world/testquest.conf
Due: pyhocon

Update island/factions.conf
  island/factions.conf
Due: pyhocon

Corrected Trashman cosmetic pathing
  island/lobby/npc_trashman.mcc.kts
Due: ktlint

Updated Cosmetic Master
  island/items/Cosmetic Master - Master.csv
Due: none

Update New Cosmetic Item IDs
  island/items/Cosmetic Master - Master.csv
Due: none

Updated Icon ID
  island/items/Cosmetic Master - Master.csv
Due: none

Added NPC to HITW Lobby
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/npc_slimemaster_sarah.mcc.kts
Due: ktlint, pyhocon

Attempted Fix
  island/lobby_hitw/npc_slimemaster_sarah.mcc.kts
Due: ktlint

Attempted Fix 2
  island/lobby_hitw/npc_slimemaster_sarah.mcc.kts
Due: ktlint

Attempted fix for Slimemaster Sarah
  island/lobby_hitw/npc_slimemaster_sarah.mcc.kts
Due: ktlint

Added Hot Dog NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_dennis.mcc.kts
  island/lobby/npc_frank.mcc.kts
  island/lobby/npc_larry.mcc.kts
  island/lobby/npc_peter.mcc.kts
  island/lobby/npc_yi_min.mcc.kts
Due: ktlint, pyhocon

Adjustments to Hot Dog NPCs
  island/lobby/npc_larry.mcc.kts
  island/lobby/npc_peter.mcc.kts
Due: ktlint

Changed John's name to Jingleheimer from Jingleheimerschmidt
  island/lobby/npc_john.mcc.kts
Due: ktlint

Adjusted John's name to be less long
  island/lobby/npc_john.mcc.kts
Due: ktlint

Attempted fix for HITW lobby
  island/lobby_hitw/enabled_scripts.conf
Due: pyhocon

Adjusting section name
  island/lobby_hitw/enabled_scripts.conf
Due: pyhocon

Added HITW NPCs
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/npc_alex_holepuncher.mcc.kts
  island/lobby_hitw/npc_slimemaster_sarah.mcc.kts
  island/lobby_hitw/npc_stanley.mcc.kts
Due: ktlint, pyhocon

Commented out code that isn't working (for some reason)
  island/lobby_hitw/npc_alex_holepuncher.mcc.kts
Due: ktlint

Corrected Typo
  island/lobby_hitw/npc_alex_holepuncher.mcc.kts
Due: ktlint

Appeasing ktlint
  island/lobby_hitw/npc_alex_holepuncher.mcc.kts
  island/lobby_hitw/npc_stanley.mcc.kts
Due: ktlint

Made all particles / Auras obtainable through shop rotation
  island/items/Cosmetic Master - Master.csv
Due: none

Appeasing ktlint yet again
  island/lobby_hitw/npc_alex_holepuncher.mcc.kts
Due: ktlint

ktlint please let me push
  island/lobby_hitw/npc_alex_holepuncher.mcc.kts
Due: ktlint

Made some cosmetics Shard-Only
  island/items/Cosmetic Master - Master.csv
Due: none

Attempt to make Stanley not fall into the floor
  island/lobby_hitw/npc_stanley.mcc.kts
Due: ktlint

Adjust phase timings and convert event kits config
  event/battle_box/haunted_house/kits.conf
  island/battle_box/phases.conf
Due: pyhocon

Bypassing Stanley Bug
  island/lobby_hitw/npc_stanley.mcc.kts
Due: ktlint

Stanley
  island/lobby_hitw/npc_stanley.mcc.kts
Due: ktlint

Move kits conf to be per map again
  island/battle_box/haunted_house/kits.conf
Due: pyhocon

Fixed Stanley's starting position
  island/lobby_hitw/npc_stanley.mcc.kts
Due: ktlint

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
