Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru==0.5.3
  - python .gitlab/tools/parse-hocon.py

changes
  island/crack_shot.conf
  island/slap_stick.conf
Due: pyhocon

fixed spelling error in an achievement
  island/achievements.conf
Due: pyhocon

Revert Battle Box sign change
  island/battle_box/classic/kits.conf
Due: pyhocon

Fix Battle Box kit for classic
  island/battle_box/classic/kits.conf
Due: pyhocon

changes
  island/modifiers/crack_shot.conf
  island/modifiers/double_time.conf
  island/modifiers/slap_stick.conf
Due: pyhocon

changes
  island/modifiers/crack_shot.conf
Due: pyhocon

change
  island/modifiers/crack_shot.conf
Due: pyhocon

hologram npc test - hitw lobby
  island/lobby_hitw/npc_hologram_1.mcc.kts
Due: ktlint

npc fix
  island/lobby_hitw/npc_hologram_1.mcc.kts
Due: ktlint

Changes
  island/modifiers/crack_shot.conf
  island/modifiers/slap_stick.conf
Due: pyhocon

npc fix 2
  island/lobby_hitw/enabled_scripts.conf
Due: pyhocon

npc hologram test
  island/lobby_hitw/enabled_scripts.conf
Due: pyhocon

removed hologram npc
  island/lobby_hitw/enabled_scripts.conf
  island/lobby_hitw/npc_hologram_1.mcc.kts
Due: ktlint, pyhocon

Change
  island/tgttos/modifiers/crack_shot.conf
  island/tgttos/modifiers/double_time.conf
  island/tgttos/modifiers/slap_stick.conf
Due: pyhocon

changes
  island/tgttos/modifiers/crack_shot.conf
  island/tgttos/modifiers/double_time.conf
  island/tgttos/modifiers/slap_stick.conf
Due: pyhocon

feature: Disabled games configuration
  island/disabled_games.conf
Due: pyhocon

feature: Un-disable sky battle
  island/disabled_games.conf
Due: pyhocon

feature: Update and document battle box scoring
  island/battle_box/battle_box_scoring.conf
Due: pyhocon

Adds one time achievements to TGTTOS.
  island/achievements.conf
Due: pyhocon

Update chicken slapper goal
  island/achievements.conf
Due: pyhocon

fix: Correct battle box button position
  island/lobby_battle-box/statistic_holograms.conf
Due: pyhocon

Disable SBA
  island/disabled_games.conf
Due: pyhocon

Fix healing potions in Graffiti map
  island/battle_box/graffiti/kits.conf
Due: pyhocon

Revert "Disable SBA"
  island/disabled_games.conf
Due: pyhocon

Corrected Hologram Button Placement for TGTTOS
  island/lobby_tgttos/statistic_holograms.conf
Due: pyhocon

Rename gearbox pool
  island/items/Cosmetic_Master_-_Master.csv
Due: none

Delete incorrectly named file
  island/items/Cosmetic_Master_-_Master.csv
Due: none

feature: Rename header for cosmetic master
  island/items/Cosmetic Master - Master.csv
Due: none

new files
  island/tgttos/modifiers/hot_potato.conf
  island/tgttos/modifiers/red_light_green_light.conf
Due: pyhocon

Revert "feature: Rename header for cosmetic master"
  island/items/Cosmetic Master - Master.csv
Due: none

change
  island/tgttos/modifiers/hot_potato.conf
Due: pyhocon

Change
  island/tgttos/modifiers/red_light_green_light.conf
Due: pyhocon

feature: Configurable active games
  island/active_games.conf
  island/disabled_games.conf
Due: pyhocon

chore: Enable sky battle
  island/active_games.conf
Due: pyhocon

Add a new event config to configure which features are enabled and add temp script exploration
  event/event.conf
  scripts/gameobject/booster.sgo.kts
  scripts/program/lasers.prg.kts
Due: ktlint, pyhocon

Spotless
  scripts/program/lasers.prg.kts
Due: ktlint

Remove temp scripts for now
  scripts/gameobject/booster.sgo.kts
  scripts/program/lasers.prg.kts
Due: ktlint

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
