Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

.gitlab-ci.yml:

stages:
    - prepare
    - deploy
    - delete

prettier:
    stage: prepare
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: prepare
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: prepare
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.58
        - pip install loguru==0.5.3
        - python .gitlab/tools/parse-hocon.py

compile_scripts:
    stage: prepare
    image: harbor.services.noxcrew.online/mcc/mcc-script-cli:940e017616f716b28bc574cd2eecb1cd8ce98077
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"
        policy: pull

.kube_env_dev:
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_ptr:
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_prod:
    environment:
        name: production-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - main
        - master

#upload_consul_ptr:
#    stage: deploy
#    extends: [.kube_env_ptr, .upload_consul]
#    only:
#        - main
#        - master

upload_consul_prod:
    stage: deploy
    extends: [.kube_env_prod, .upload_consul]
    only:
        - main
        - master

delete_consul_dev:
    extends: .kube_env_dev
    dependencies: []
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    stage: delete
    when: manual
    variables:
        GIT_STRATEGY: none
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" -recurse configuration/"$CI_COMMIT_BRANCH"
    except:
      - main
      - master
      - develop

Change meltdown map to test
  event/meltdown/maps.conf
Due: pyhocon

Parkour Tag - Adding dustbowl to compass
  compass/worlds/island/games/parkour_tag.conf
Due: pyhocon

Updated Gearstone quantities
  island/cosmetics/parts.conf
Due: pyhocon

Add equipment to meltdown
  event/meltdown/equipment.conf
Due: pyhocon

Parkour_tag new map
  samples/parkour_tag.conf
Due: pyhocon

linking dustbowl parkour tag
  island/parkour_tag/maps.conf
  samples/parkour_tag.conf
Due: pyhocon

Added Rusty and Platinum gearboxes
  island/cosmetics/parts.conf
Due: pyhocon

Rusty and Platinum boxes use existing GUI
  island/cosmetics/parts.conf
Due: pyhocon

Added Barber Type
  island/lobby/enabled_scripts.conf
  island/lobby/npc_barbie_leblanc.mcc.kts
  island/lobby/npc_pretty_uppy_lady.mcc.kts
  island/npc_types.conf
Due: ktlint, pyhocon

tgttos - enabling all maps
  samples/to_get_to_the_other_side.conf
Due: pyhocon

adding bebehive tgttos
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

adding beehive tgttos
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

feature: HITW interactive traps
  island/hole_in_the_wall/traps/bad/interactive/cobweb.conf
  island/hole_in_the_wall/traps/bad/interactive/fishing_rod.conf
  island/hole_in_the_wall/traps/bad/interactive/high_gravity_dart.conf
  island/hole_in_the_wall/traps/bad/interactive/hot_potato.conf
  island/hole_in_the_wall/traps/bad/interactive/levitation_dart.conf
  island/hole_in_the_wall/traps/bad/interactive/snowball_fight.conf
  island/hole_in_the_wall/traps/bad/interactive/sumo.conf
  island/hole_in_the_wall/traps/bad/snowball_fight.conf
Due: pyhocon

master sheet update
  island/cosmetics/cosmetic_colors.conf
  island/items/Cosmetic Master - Master.csv
Due: pyhocon

updated cosmetic colours
  island/cosmetics/cosmetic_colors.conf
Due: pyhocon

Update cosmetic_colors.conf
  island/cosmetics/cosmetic_colors.conf
Due: pyhocon

Update npc_gizmo.mcc.kts
  island/lobby/npc_gizmo.mcc.kts
Due: ktlint

Parkour tag quads
  compass/cards/island/parkour_tag_quad.json
  compass/worlds/island/games/parkour_tag_quad.conf
  island/parkour_tag/quad/phases.conf
  samples/ace_race.conf
  samples/battle_box.conf
  samples/island_hole_in_the_wall.conf
  samples/parkour_tag_quad.conf
  samples/to_get_to_the_other_side.conf
Due: prettier, pyhocon

Configure Battle Box Graffiti map
  island/battle_box/graffiti/breakable_blocks.conf
  island/battle_box/graffiti/equipment.conf
  island/battle_box/graffiti/kits.conf
  island/battle_box/graffiti/placeable_blocks.conf
Due: pyhocon

Fix HITW game lobby world
  island/lobby_hitw/maps.conf
Due: pyhocon

move hitw lobby hologram position
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

move hitw lobby hologram position again
  island/lobby_hitw/statistic_holograms.conf
Due: pyhocon

feature: More work on HITW traps
  island/hole_in_the_wall/traps/bad/interactive/blast_off.conf
  island/hole_in_the_wall/traps/bad/interactive/hot_potato.conf
Due: pyhocon

Adjust compass for Parkour Tag Quad
  compass/cards/island/parkour_tag_quad.json
  compass/worlds/island/games/parkour_tag_quad.conf
Due: prettier, pyhocon

Adjust compass more
  compass/worlds/island/games/battle_box.conf
  compass/worlds/island/games/parkour_tag_quad.conf
Due: pyhocon

feature: Magic gearstone uptrading
  island/cosmetics/parts.conf
Due: pyhocon

Tgttos
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

feature: HITW trap tweaks
  island/hole_in_the_wall/traps/bad/interactive/high_gravity_dart.conf
  island/hole_in_the_wall/traps/bad/interactive/levitation_dart.conf
  island/hole_in_the_wall/traps/bad/interactive/sumo.conf
Due: pyhocon

TGTTOS
  compass/worlds/island/games/tgttos.conf
Due: pyhocon

Bump PPP count
  island/hole_in_the_wall/traps/bad/interactive/hot_potato.conf
Due: pyhocon

Reorganize / Renamed Hub NPCs
  island/lobby/enabled_scripts.conf
  island/lobby/npc_citymonsterman.mcc.kts
  island/lobby/npc_meiko.mcc.kts
Due: ktlint, pyhocon

Allow more than 2 doors on parkour tag quad
  compass/worlds/island/games/parkour_tag_quad.conf
Due: pyhocon

Add activeWhenPercentAlive to blast off trap
  island/hole_in_the_wall/traps/bad/interactive/blast_off.conf
Due: pyhocon

Remove split for parkour quad
  compass/cards/island/parkour_tag_quad.json
  compass/worlds/island/games/parkour_tag_quad.conf
Due: prettier, pyhocon

Update mcc-script-cli
  .gitlab-ci.yml
Due: prettier

Update mcc-script-cli 2: electric boogaloo
  .gitlab-ci.yml
Due: prettier
