Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktfmt, pyhocon, compile_scripts

.gitlab-ci.yml:

stages:
    - lint
    - compile
    - deploy

prettier:
    stage: lint
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktfmt:
    stage: lint
    image: adoptopenjdk/openjdk11:debian-slim
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktfmt.sh

pyhocon:
    stage: lint
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.57
        - apk add --no-cache bash
        - ./.gitlab/tools/pyhocon.sh

compile_scripts:
    stage: compile
    image: git.noxcrew.com:5050/noxcrew/online-devops/mcc-script-cli:main-ec6812c3335329efa5071af588ddaee58ca22ac1
    script:
      - ./.gitlab/tools/compile-scripts.sh
    only:
      changes:
        - "**/*.mcc.kts"
    cache:
        - key: "$CI_COMMIT_BRANCH"
          paths:
              - compiled/

.upload_consul:
    image: git.noxcrew.com:5050/noxcrew/online-devops/fs2consulkv:master-5af2c38e8490d8813d2bdd05784c4726f8c964cb
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    cache:
        policy: pull
        key: "$CI_COMMIT_BRANCH"
        paths:
            - compiled/
    before_script:
        - apk add --no-cache bash jq findutils
        - apk add --no-cache -X http://dl-cdn.alpinelinux.org/alpine/edge/main consul
    script:
        - find . -name "*.bytecode" -type f -delete
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv -n --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --skip-prompt
        - ./.gitlab/tools/consul-wrapper.py bash ./.gitlab/tools/consul-diff.sh

.kube_env_dev:
    extends: .upload_consul
    environment:
        name: dev-fs2consulkv
        kubernetes:
            namespace: ops

.kube_env_ptr:
    extends: .upload_consul
    environment:
        name: ptr-fs2consulkv
        kubernetes:
            namespace: ops

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
# upload_consul_ptr:
#     stage: deploy
#     extends: [.kube_env_ptr, .upload_consul]

Remove compression for now
  .gitlab-ci.yml
  .gitlab/tools/compile-scripts.sh
Due: prettier

Zip compress scripts
  .gitlab-ci.yml
Due: prettier

Update image
  .gitlab-ci.yml
Due: prettier

Update images
  .gitlab-ci.yml
Due: prettier

Update fs2consulkv
  .gitlab-ci.yml
Due: prettier

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/accessoryStore_daily12.conf
Due: pyhocon

Add test items following the new format
  island/items/Cosmetic_Master_Aura.csv
  island/items/Cosmetic_Master_Back.csv
  island/items/Cosmetic_Master_Mount.csv
  island/items/Furniture_Master_Beds.csv
  island/items/Furniture_Master_Prop.csv
  island/shop/cosmetics_master.csv
Due: none

Added CSVs
  island/items/Furniture_Master_Beds.csv
  island/items/Furniture_Master_Door.csv
  island/items/Furniture_Master_Posters.csv
  island/items/Furniture_Master_Seating.csv
  island/items/Furniture_Master_Surface.csv
  island/items/Furniture_Master_Window.csv
Due: none

Enable another item
  island/items/Furniture_Master_Beds.csv
  island/items/Furniture_Master_Seating.csv
Due: none

Delete old rotations
  island/items/Cosmetic_Master_Aura.csv
  island/items/Cosmetic_Master_Back.csv
  island/items/Cosmetic_Master_Mount.csv
  island/shop/autogen/accessoryStore_daily.conf
  island/shop/autogen/accessoryStore_daily12.conf
  island/shop/autogen/accessoryStore_static.conf
  island/shop/autogen/accessoryStore_weekly.conf
  island/shop/autogen/barberShop_static.conf
  island/shop/autogen/gadgetStore_daily.conf
  island/shop/autogen/gadgetStore_daily12.conf
  island/shop/autogen/gadgetStore_weekly.conf
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_daily12.conf
  island/shop/autogen/particleStore_weekly.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/furnitureTestStore_static.conf
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_daily12.conf
  island/shop/autogen/particleStore_weekly.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/furnitureTestStore_static.conf
Due: pyhocon

Revert "Update rotations [NetworkCron]"
  island/shop/autogen/furnitureTestStore_static.conf
Due: pyhocon

Added Cosmetic CSVs
  island/items/Cosmetic_Master_Augment.csv
  island/items/Cosmetic_Master_Aura.csv
  island/items/Cosmetic_Master_Back.csv
  island/items/Cosmetic_Master_Consumable.csv
  island/items/Cosmetic_Master_Emoji.csv
  island/items/Cosmetic_Master_Gadget.csv
  island/items/Cosmetic_Master_Head.csv
  island/items/Cosmetic_Master_Mount.csv
  island/items/Cosmetic_Master_Off-Hand.csv
  island/items/Cosmetic_Master_Pet.csv
  island/items/Cosmetic_Master_Trail.csv
Due: none

Remove rotations
  island/shop/autogen/furnitureTestStore_static.conf
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_daily12.conf
  island/shop/autogen/particleStore_weekly.conf
Due: pyhocon

Get rid of CSVs
  island/items/Cosmetic_Master_Augment.csv
  island/items/Cosmetic_Master_Aura.csv
  island/items/Cosmetic_Master_Back.csv
  island/items/Cosmetic_Master_Consumable.csv
  island/items/Cosmetic_Master_Emoji.csv
  island/items/Cosmetic_Master_Gadget.csv
  island/items/Cosmetic_Master_Head.csv
  island/items/Cosmetic_Master_Mount.csv
  island/items/Cosmetic_Master_Off-Hand.csv
  island/items/Cosmetic_Master_Pet.csv
  island/items/Cosmetic_Master_Trail.csv
  island/items/Furniture_Master_Beds.csv
  island/items/Furniture_Master_Door.csv
  island/items/Furniture_Master_Posters.csv
  island/items/Furniture_Master_Prop.csv
  island/items/Furniture_Master_Seating.csv
  island/items/Furniture_Master_Surface.csv
  island/items/Furniture_Master_Window.csv
Due: none

Revert "Get rid of CSVs"
  island/items/Cosmetic_Master_Augment.csv
  island/items/Cosmetic_Master_Aura.csv
  island/items/Cosmetic_Master_Back.csv
  island/items/Cosmetic_Master_Consumable.csv
  island/items/Cosmetic_Master_Emoji.csv
  island/items/Cosmetic_Master_Gadget.csv
  island/items/Cosmetic_Master_Head.csv
  island/items/Cosmetic_Master_Mount.csv
  island/items/Cosmetic_Master_Off-Hand.csv
  island/items/Cosmetic_Master_Pet.csv
  island/items/Cosmetic_Master_Trail.csv
  island/items/Furniture_Master_Beds.csv
  island/items/Furniture_Master_Door.csv
  island/items/Furniture_Master_Posters.csv
  island/items/Furniture_Master_Prop.csv
  island/items/Furniture_Master_Seating.csv
  island/items/Furniture_Master_Surface.csv
  island/items/Furniture_Master_Window.csv
Due: none

Add csv compression
  .gitignore
  .gitlab/tools/compress-csv.sh
Due: none

fix csv script
  .gitlab/tools/compress-csv.sh
Due: none

Re-use compress script
  .gitlab-ci.yml
Due: prettier

Update fs2consulkv to fix pipelines not failing when they should
  .gitlab-ci.yml
Due: prettier

Add new file
  island/anti_spam.conf
Due: pyhocon

Update anti_spam.conf
  island/anti_spam.conf
Due: pyhocon

Update common_styles.conf
  common/message_styles.conf
Due: pyhocon

Add new file
  island/message_styles.conf
Due: pyhocon

Add new file
  common/common_styles.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily.conf
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily12.conf
Due: pyhocon

Add start sounds
  island/ace_race/tutorial.mcc.kts
  island/hole_in_the_wall/tutorial.mcc.kts
  island/tgttos/tutorial.mcc.kts
Due: ktfmt, compile_scripts

Update message_styles.conf
  common/message_styles.conf
Due: pyhocon

Update message_styles.conf
  island/message_styles.conf
Due: pyhocon

Update rotations [NetworkCron]
  island/shop/autogen/particleStore_daily.conf
Due: pyhocon

message style color updates
  island/message_styles.conf
Due: pyhocon

Added rarity and tooltip colors
  island/message_styles.conf
Due: pyhocon
