Repository ThorNoxcrew/configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prettier, ktlint, pyhocon

prettier:
  stage: prepare
  image: node:lts-buster
  before_script:
  - yarn global add prettier
  script:
  - ./.gitlab/tools/prettier.sh

ktlint:
  stage: prepare
  image: kkopper/ktlint:0.42.1
  script:
  - ./.gitlab/tools/ktlint.sh

pyhocon:
  stage: prepare
  image: python:3.9-alpine
  script:
  - pip install pyhocon==0.3.58
  - pip install loguru=0.5.3
  - python .gitlab/tools/parse-hocon.py

Island Parkour Tag: Fix phases
  island/parkour_tag/phases.conf
Due: pyhocon

Island Parkour Tag: Fix phases... again.
  island/parkour_tag/phases.conf
Due: pyhocon

Island Parkour Tag: Fix spawnpoints
  compass/worlds/island/games/parkour_tag.conf
Due: pyhocon

Island Parkour Tag: Add matchmaking
  island/matchmaking/game_configurations.conf
Due: pyhocon

Island Battle Box: add matchmaking
  island/matchmaking/game_configurations.conf
Due: pyhocon

Island Parkour Tag: Give players more equipment
  island/parkour_tag/equipment.conf
Due: pyhocon

Add game lobbies
  compass/worlds/island/general/game_lobbies.conf
Due: pyhocon

Island: Add parkour tag & battle box lobbies
  island/lobby_battle-box/maps.conf
  island/lobby_parkour-tag/maps.conf
Due: pyhocon

Added JP as an NPC by the pool in the back of the hub
  island/lobby/enabled_scripts.conf
  island/lobby/npc_jay.kts
Due: ktlint, pyhocon

Update game_configurations.conf
  island/matchmaking/game_configurations.conf
Due: pyhocon

Update phases.conf
  island/parkour_tag/phases.conf
Due: pyhocon

Battlebox & Parkour Tag Holograms
  island/lobby_battle-box/holograms.conf
  island/lobby_parkour-tag/holograms.conf
Due: pyhocon

Adjusted lobby Hologram positions
  island/lobby_battle-box/holograms.conf
  island/lobby_parkour-tag/holograms.conf
Due: pyhocon

Added Parkour Tag Leaderboards
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Fixed Typos
  island/lobby_battle-box/holograms.conf
Due: pyhocon

Adjusted Typo
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Dynamic Podiums for PT
  compass/worlds/island/games/parkour_tag.conf
Due: pyhocon

Dynamic Podiums for PT
  compass/worlds/island/games/parkour_tag.conf
  island/parkour_tag/maps.conf
Due: pyhocon

Moved Parkour Tag Leaderboard
  island/lobby_parkour-tag/statistic_holograms.conf
Due: pyhocon

Added Lobby-Exclusive Furniture to Furniture list
  island/apartments/furniture.conf
Due: pyhocon

add rarity to cosmetic part boxes
  island/cosmetics/parts.conf
Due: pyhocon

Switched Benches to be correct orientation
  island/apartments/furniture.conf
Due: pyhocon

Tweaked some item rarities
  island/items/Cosmetic Master - Master.csv
Due: none

Island: Add parkour tag intro
  island/parkour_tag/enabled_scripts.conf
  island/parkour_tag/tutorial.mcc.kts
Due: ktlint, pyhocon

Moved hologram, renamed NPCs
  island/lobby/npc_bea.mcc.kts
  island/lobby/npc_cree.mcc.kts
  island/lobby/npc_doug.mcc.kts
  island/lobby/npc_drew.mcc.kts
  island/lobby/npc_eric.mcc.kts
  island/lobby/npc_goliath.mcc.kts
  island/lobby/npc_jordan.mcc.kts
  island/lobby/npc_pinkie.mcc.kts
  island/lobby/npc_rimu.mcc.kts
  island/lobby/npc_witt.mcc.kts
  island/lobby_parkour-tag/statistic_holograms.conf
Due: ktlint, pyhocon

Added NPCs to Parkour Tag and BattleBox Lobbies
  island/lobby_battle-box/enabled_scripts.conf
  island/lobby_battle-box/npc_dean.mcc.kts
  island/lobby_battle-box/npc_hank.mcc.kts
  island/lobby_battle-box/npc_paige.mcc.kts
  island/lobby_battle-box/npc_sir_gavin.mcc.kts
  island/lobby_battle-box/npc_sir_percy.mcc.kts
  island/lobby_parkour-tag/enabled_scripts.conf
  island/lobby_parkour-tag/npc_cook_thunder.mcc.kts
  island/lobby_parkour-tag/npc_kigo.mcc.kts
  island/lobby_parkour-tag/npc_ray.mcc.kts
  island/lobby_parkour-tag/npc_runner.mcc.kts
Due: ktlint, pyhocon

ktlint appeasing
  island/lobby_parkour-tag/npc_runner.mcc.kts
Due: ktlint

ktlint spacing fixing
  island/lobby_parkour-tag/npc_cook_thunder.mcc.kts
  island/lobby_parkour-tag/npc_ray.mcc.kts
Due: ktlint

Update npc_kigo.mcc.kts
  island/lobby_parkour-tag/npc_kigo.mcc.kts
Due: ktlint

ktlint please?
  island/lobby_battle-box/npc_dean.mcc.kts
  island/lobby_battle-box/npc_hank.mcc.kts
  island/lobby_battle-box/npc_paige.mcc.kts
  island/lobby_battle-box/npc_sir_gavin.mcc.kts
  island/lobby_battle-box/npc_sir_percy.mcc.kts
Due: ktlint

This should be it
  island/lobby_battle-box/npc_paige.mcc.kts
Due: ktlint

feature: Bump pre-game time
  island/ace_race/phases.conf
  island/battle_box/phases.conf
  island/hole_in_the_wall/phases.conf
  island/parkour_tag/phases.conf
  island/tgttos/phases.conf
Due: pyhocon

Fixed JP's NPC name
  island/lobby/npc_jay.mcc.kts
Due: ktlint

Adjustment to JP's NPC
  island/lobby/npc_jay.mcc.kts
Due: ktlint

Attempted Fix
  island/lobby/enabled_scripts.conf
Due: pyhocon

Attempted Fix 2
  island/lobby/npc_jay.mcc.kts
Due: ktlint

Alex fixed it!
  island/lobby/npc_jay.mcc.kts
Due: ktlint

Path conditions:
  prettier: any of: **/*.yaml, **/*.yml, **/*.json, .prettierrc.js
  ktlint: any of: **/*.kts, **/*.kt, **/*.mcc.kts
  pyhocon: any of: **/*.conf
